<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <title>亚租所</title>
    <meta name="keywords" content="亚租所" />
    <meta name="description" content="亚租所" /> {% include "common/css.html" %} {% include "common/js.html" %}
    <script src="/js/init.js"></script>
</head>

<body>
    {% include "common/header.html" %}
    <div id="main_box">

        <div class="accout_content clearfix">
            <div id="accout_sidebarBox">
                {% include 'common/side.html' %}
            </div>
            <div id="content_box">
                <div id="accout_contentBox"></div>
            </div>
        </div>

    </div>
    {% include 'common/footer.html' %}
</body>

</html>