<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="baidu-site-verification" content="vmjEIDKaNy" />

  <title>{{title}}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="renderer" content="webkit">
  <meta name="keywords" content="{{keywords}}" />
  <meta name="description" content="{{description}}" />
  {% include "common/css.njk" %}
  <link rel="stylesheet" href="/css/index.css"> 
</head>

<body ontouchstart>
  {% include "common/header.njk" %}
 
  <div class="container-fluid main-bg" style="background-image: url(images/bg.jpg)">
    <div class="main-bar" style="bottom:-108px"></div>

    </div>
  </div>
 
  <div class="container main-container">
  
    <ul class="main-bar-cnt row">
      <li class="col-xs-4">
        <div class="main-title title-l ">
          <span class="main-title-before"></span>
          <h3>专业交易服务</h3>
          <span class="title-img icon-m-ic-icon m-ic-icon-t-l "></span>
        </div>
      </li>
      <li class="col-xs-4">
        <div class="main-title title-c">
          <span class="main-title-before"></span>
          <h3>优质资产来源</h3>
          <span class="title-img icon-m-ic-icon m-ic-icon-t-c"></span>
        </div>
      </li>
      <li class="col-xs-4">
        <div class="main-title title-r ">
          <span class="main-title-before"></span>
          <h3>丰富投资资金</h3>
          <span class="title-img icon-m-ic-icon m-ic-icon-t-r"></span>
        </div>
      </li>
    </ul>
    <!-- 平台动态 -->
    {% include 'index/notice.njk' %}
    <!-- 项目专区 -->
    <h2 class="text-center porject-title">机构专区</h2>
    <div class="porject-wrap ">
      <ul class="product_list row">
        {% include 'index/item.njk'%}
      </ul>
    </div>
    <!-- 本所公告 -->
    {% include 'index/info.njk'%}
    <!-- 公司动态 -->
    {% include 'index/news.njk'%}

    <!-- 风险揭示 -->
    {% include 'common/riskWarning.njk'%}
  </div>
  <!-- 合作伙伴  -->
  {% include 'index/friendLink.njk'%}
  <!-- footer -->
  {% include 'common/footer.njk'%}
  {% include "common/js.njk" %}
  <!-- <script src="/js/preload.js"></script> -->
</body>


</html>