.about-container {
    position: relative;
    margin-top: -380px;
    background: #fff;
    padding: 30px !important
}

.info-list-h {
    margin-top: 30px;
}

.info-list-h h3 {
    position: relative;
    padding-left: 60px;
    line-height: 80px;
}

.info-list-h h3>.before {
    position: absolute;
    content: "";
    height: 80px;
    width: 38px;
    left: 0;
    top: 0;
    background: url(../images/pro.png) no-repeat center
}

.item-content {
    padding: 30px;
}

.item-t {
    padding: 0  0 0 42px !important;
    margin-bottom: 20px;
    font-size: 14px;
}
.item-t>.before{
    position: absolute;
    width: 14px;
    height: 16px;
    background-image: url(../images/dy-read.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    left: 0;
   
}
.about-title {
    /*padding-top: 80px*/
    margin-top: 30px;
    margin-bottom: 15px;
}
.item-txt{
    padding: 0 !important
}

.item-txt p {
    text-indent: 2em;
    word-break: break-all;
    /*font-size: 18px;*/
    color: #666666;
    /*line-height: 36px;*/
}

.dynamic-item.even {
    background: #f8f8f8
}



.read>.before {
    background-image: url(../images/read.png);
}

.aboutimg {
    width: 100%;
    height: 406px;
    background: url(../images/dynamic.png) no-repeat center center;
    background-size: cover
}

.template-box {
    text-indent: 2em;
    padding: 0 60px
}

.noticeUs {
    padding: 60px 140px;
}

.template-box span {
    line-height: 50px;
}

.noticeUs li {
    line-height: 98px;
    font-size: 24px;
    color: #3f3b3c;
}

.icon-p::before {
    content: "";
    position: absolute;
    height: 98px;
    width: 58px;
    background-position: center;
    background-repeat: no-repeat;
    left: -84px;
}

.site::before {
    background-image: url(../images/site.png)
}

.hotLine::before {
    background-image: url(../images/hotLine.png)
}

.weChat::before {
    background-image: url(../images/weChat.png)
}

.email::before {
    background-image: url(../images/email.png)
}

.qrcode-box {
    margin-top: 40px;
    padding-top: 50px;
    height: 326px;
    background-color: #ffffff;
    border-radius: 10px;
    border: solid 1px #f0f0f0;
}

.qrcode-box dd {
    height: 198px;
    background-position: center;
    background-repeat: no-repeat;
}

.download {
    display: inline-block;
    line-height: 50px;
    color: #00f;
    font-weight: bold;
    font-size: 16px;
    text-decoration: underline !important
}

.download:hover {
    color: #00f
}