/* navbar */
body,html{
    /* font-family: "Microsoft YaHei" */
    /* font-family: "Helvetica Neue",Helvetica,Arial, "Microsoft Yahei", sans-serif; */
    font: 14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,\5FAE\8F6F\96C5\9ED1,sans-serif
}
input,
 select {
    -webkit-appearance: none;
    -moz-appearance :none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   
}

.container-fluid {
    min-width: 1200px;
}
.container {
    width: 1170px;
}

@media (max-width: 1599px) {
    .container-fluid {
        min-width: 1030px;
    }
    .container {
        width: 1000px;
    }
}



.vm {
    vertical-align: middle;
}

.ml15 {
    margin-left: 15px;
}

.mr10 {
    margin-right: 10px;
}

.mt10 {
    margin-top: 10px;
}
.mt30{
    margin-top: 96px
}
.mb10 {
    margin-bottom: 10px;
}

.p30 {
    padding: 30px;
}
.pl28{
    padding-left: 28px;
}
.pt15 {
    padding-top: 15px;
}

.red {
    color: #db0610;
}

.block {
    display: block;
}

h2,
.h2 {
    font-size: 22px;
}

h3,
.h3 {
    font-size: 18px;
}

h4,
.h4 {
    font-size: 14px;
}

h5,
.h5 {
    font-size: 12px;
}

.header-top {
    background: #fff;
    border: none;
    border-bottom: 1px solid #e3e5e7
}
.navbar-fixed-top .topbar-bg{
    display: none
}
.topbar-bg {
    position: relative;
    display: block;
    height: 30px;
    width: 100%;
    background: #263039
}

/* .header-top.navbar-fixed-top::before{
    position: absolute;
    height: 35px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: #263039
} */

.topbar-nav li {
    float: left;
    position: relative;
    cursor: pointer;
    padding: 0 10px;
    color: #fff;
}

/* 顶部二维码 */

.dropdown-con {
    display: none;
    position: absolute;
    padding: 10px;
    top: 34px;
    background: #eee;
    color: #333;
    z-index: 1000;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .9);
    -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, .9);
    box-shadow: 0 3px 8px rgba(0, 0, 0, .9);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.dropdown-con .sharp {
    position: absolute;
    font-size: 16px;
    top: -10px;
    left: 54px;
    color: #eee
}

.topbar-nav .top-line {
    margin-top: 7px;
    padding: 0;
    width: 2px !important;
    height: 20px;
    background: #676767
}

.topbar-nav .top-login {
    background: #dd000c;
    padding: 0 46px;
    color: #fff
}

.top-login a {
    display: block;
    color: #fff;
    text-decoration: none !important
}

.topbar {
    font-size: 11px;
    line-height: 30px;
    color: #ccc
}

.top-nav-container,
.top-nav-container h1 {
    line-height: 68px;
}

.logo {
    float: left;
}

.logo img {
    width: 100%;
}



.nav-item:hover {
    background: url(../images/navhover.png) repeat-x 1px
}

.layui-nav-more {
    display: none
}

.layui-nav .nav-item-line {
    position: absolute;
    top: 21px;  
    right: -1px;
    width: 1px;
    height: 33px;
    background: #d2d2d2;
    z-index: 10;
}

.layui-nav .layui-nav-item a {
    text-decoration: none;
    padding: 0 46px;
    color: #333
}
.layui-nav .layui-nav-item a:hover, .layui-nav .layui-this a {
    color: #000;
}

.layui-nav .layui-this:after {
    height: 4px;
}

/*.layui-nav .layui-nav-item a:hover,
.layui-nav .layui-this a,
.layui-nav .layui-nav-item a {
    text-decoration: none;
    padding: 0 46px;
    color: #333
}*/

.layui-nav .layui-this:after,
.layui-nav-bar,
.layui-nav-tree .layui-nav-itemed:after {
    background-color: #dd000c;
    transition: all .15s;
    -webkit-transition: all .15s;
}

.layui-nav-child {
    top: 73px;
    padding: 55px 0 30px;
}

.layui-nav-child dd.active {
    border-left: 2px solid #dd000c
}

.nav-item .layui-nav-child {
    width: 224px;
    background: #ffffff url(../images/dbg.png) repeat-x top;
    border: solid 1px rgb(206, 206, 206);
}

.nav-item .layui-nav-child dd {
    text-align: left !important
}

/* .layui-nav-child.organization::after {
    content: 'Trading';
}

.layui-nav-child.Information::after {
    content: 'Information';
}

.layui-nav-child.about::after {
    content: 'About';
} */

.layui-nav-child .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 30px;
    padding-top: 10px;
    /*height: 23px;*/
    /*font-family: 'HelveticaNeueLTStd-LtCn';*/
    font-size: 26px;
    text-align: left;
    font-weight: normal;
    font-stretch: normal;
    /*line-height: 0px;*/
    letter-spacing: 0px;
    color: rgb(82, 90, 102);
    opacity: .5;
}

.nav-item .layui-nav-child dd {
    line-height: 36px;
    font-size: 16px;
    text-align: center
}



.main-bg {
    position: relative;
    height: 388px;
  
    background-repeat: no-repeat;
    background-position: center top;
}
.navbar {
    margin: 0
}
.main-bar {
    position: absolute;
    height: 108px;
    width: 100%;
    background: #decd75;
    left: 0;
    bottom: 0;
}

.yzs-btn {
    color: #fff;
    background-color: #3e505e !important;
}

/* 风险 */

.risk {
    /*min-height: 72px;*/
    border-bottom: 3px solid #e6d9b1;
    /*margin-bottom: 50px*/
    margin: 58px 0;
}

.risk-h>.after {
    display: inline-block;
    height: 24px;
    width: 24px;
    margin-right: 15px;
    background: url(../images/risk.png) no-repeat center
}

.risk-h {
    position: relative;
    padding-left: 28px;
    height: 48px;
    line-height: 48px;
    background: #ededed;
    cursor: pointer;

}

.risk-h .icon-up{
    position: absolute;
    height: 24px;
    width: 54px;
    right: 68px;
    top: 50%;
    margin-top: -12px;
    border-left: 1px solid #ccc;
    background-image:url(../images/rikdown.png) ;
    background-repeat: no-repeat;
    background-position: center right;
}
.risk-h.collapsed .icon-up{
    background-image:url(../images/rikup.png) ;
}
.risk-h3 {
    display: inline-block;
    color: #263039;
    font-size: 18px; 
}

.risk-down {
    position: absolute;
    /*width: 124px;*/
    padding-left: 30px;
    padding-right: 20px;
    font-size: 14px;
    right: 0;
    text-align: center;
    color: #999;
}

.risk-down::after {
    display: none;
    content: '';
    position: absolute;
    width: 1px;
    height: 40px;
    left: 0;
    top: 10px;
    background: #ccc
}

.risk-well {
    padding: 30px 35px;
    border: 1px solid rgb(218, 218, 218)
}

.risk-text {
    text-indent: 2em;
    line-height: 30px;
    color: #999
}

/* 底部 */

.footer-box {
    margin-top: -261px;
    margin-bottom: -200px;
    position: relative;
    padding-top: 8px;
    background: #313940;
    color: #fff;
}

.footer-address-copyright,
.custom-service {
    padding-bottom: 20px;
}

.footer-logo {
    margin-top: 36px
}

.footer-info {
    position: relative;
    height: 253px;
}

#foot_temx {
    padding: 36px 45px;
}

#foot_temx dl {
    float: left;
    width: 33%;
}

#foot_temx dl dt {
    padding-bottom: 20px;
    font-size: 16px;
    color: #fff;
    font-weight: normal;
}

#foot_temx dl dd {
    padding-bottom: 10px;
}

#foot_temx dl dd a {
    color: #989ca0;
    
}

.footer-address-copyright {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 12px;
}

.custom-service {
    position: absolute;
    bottom: 0;
    right: 0;
}

.code-list {
    padding-top: 36px;
    font-size: 10px;
    color: #989ca0;
    
}

.code-list dl {
    margin-left: 60px;
}

.code-list dt {
    margin-bottom: 10px;
    opacity: .5;
}
.code-list dt:hover{
    opacity: 1;
    cursor: pointer;
}

.service_no {
    display: inline-block;
    line-height: 24px;
    color:#989ca0;
}

.custom {
    display: inline-block;
    width: 29px;
    height: 30px;
    background: url(../images/hot.png) no-repeat center ;
    margin-right: 24px;
}

.icon {
    display: inline-block;
}

.icon.icon-call {
    height: 16px;
    width: 16px;
    vertical-align: middle;
    background: url(../images/tel.png) no-repeat
}

.callNo {
    color: #fff
}

.icon.icon-wx,
.icon-phone {
    height: 20px;
    width: 20px;
    vertical-align: middle;
}

.icon.icon-wx {
    background: url(../images/weixin.png) no-repeat center
}

.icon-phone {
    background: url(../images/phone.png) no-repeat center
}

/* menu */

.info-menu {
    /*width: 145px;*/
    line-height: 48px;
    position: relative;
    background: #263039;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    padding-left: 55px !important;
}

.info-menu .before {
    position: absolute;
    left: 0;
    width: 60px;
    height: 48px;
    background: url(../images//infoicon.png) no-repeat center center
}

.info-menu:hover {
    background: #13181c
}

.info-menu-ul {
    position: absolute;
    overflow: hidden;
    display: none;
    opacity: 0;
    z-index: 10;
    padding-top: 30px;
    padding-bottom: 30px;
    left: 0;
    width: 224px;
    height: auto;
    background-color: #f8f8f8;
    box-shadow: 2px 4px 5px 0px rgba(228, 228, 228, 0.65);
    border: solid 1px rgb(218, 218, 218);
}

.info-menu-ul.menu-show,
.qrdown .dropdown-con.qrshow {
    display: block !important;
    -webkit-animation-name: layui-upbit;
    animation-name: layui-upbit;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.menu-bar {
    position: absolute;
    width: 3px;
    height: 36px;
    background-color: #dd000c;
    left: 0;
    top: 1000px;
    opacity: 0;
    transition: all .15s;
    -webkit-transition: all .15s;
}

.info-menu-ul li {
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
    border-left: 3px solid transparent;
}

.info-menu-ul .menu-this {
    /* content: '';
    top: 0;
    position: absolute;
    width: 6px;
    height: 58px;
    background-color: #dd000c;
    left: 0; */
    border-left: 3px solid #dd000c
}

.info-menu-ul li:hover,
.info-menu-ul li.active {
    background: #ededed
}

.info-menu-ul li a {
    display: block;
    color: #373737;
    text-decoration: none !important;
    font-size: 16px;
    line-height: 36px;
    border-bottom: 1px solid #d2d2d2
}

.info-title {
    position: relative;
    background: #3e505e;
    line-height: 48px;
    font-size: 16px;
    color: #ffffff;
    text-indent: 1em;
}

.info-title::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    background: #fff;
    top: 0;
    left: 0;
}

.info-list-head {
    position: relative;
    /*padding: 30px;*/
    margin: 0 !important;
    border-bottom: 1px solid #f8f8f8
}

table.dataTable {
    border-collapse: collapse
}

/* 分页样式 */

.pagination .current,
.pagination a.current:hover {
    color: #fff;
    border: 1px solid #fff;
    background: #3e505e;
}

.pagination a:hover {
    background: #3e505e;
}

/* fixed  */

.fixed-download-goBack {
    width: 50px;
    position: fixed;
    top: 350px;
    right: 10px;
    z-index: 99999;
    background: #fff;
    border: 1px solid #efefef;
    cursor: pointer;
}

.fixed-download-goBack * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.fixed-download {
    border-bottom: 1px solid #efefef;
}

.fixed-download-goBack li {
    color: #b3b3b3;
}

.fixed-icon {
    display: block;
    width: 100%;
    height: 50px;
}

.fixed-icon-qrcode {
    background: url(../images/fixqrh.png) no-repeat center
}

.fixed-icon-serve {
    background: url(../images/serve.png) no-repeat center
}

.fixed-icon-up {
    background: url(../images/up.png) no-repeat center
}

.fixed-download-goBack li:hover {
    color: #3e505e
}

.fixed-contact {
    margin-top: -1px;
    border-bottom: 1px solid #efefef;
}

.line {
    height: 1px;
    /*margin: 0 30px;*/
    background: #eee
}

.clemp {
    position: relative;
    /* display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; */
    overflow: hidden;
    line-height: 24px;
    font-size: 12px;
    max-height: 48px;
    
    /* font-size: 14px !important;
    line-height: 24px !important; */
}
.clemp a{
    color: #999
}
.clemp.p-after {
    height: 48px;
}

.clemp>.after {
    display: none;
    position: absolute;
    text-indent: 0;
    bottom: 0;
    right: 0;
    width: 1.3em;
    z-index: 10;
    background: #fff
}

.clemp.p-after>.after {
    display: block !important
}

.pagination {
    margin: 15px 0;
}

.pagination a,
.pagination span {
    font-size: 14px;
}

.pagination .centerbox input {
    font-size: 14px;
}

.pagination .centerbox p {
    font-size: 14px;
}

.portlet-head {
    margin-top: 30px;
    margin-bottom: 15px;
}

.portlet-head h2 i {
    margin-right: 10px;
}

.icon-list {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(../images/pro.png) no-repeat scroll center center;
    -webkit-background-size: contain;
    background-size: contain;
}

embad {
    display: none
}