.main-bar-cnt {
  height: 100%;
  position: relative;
}

.main-bar-cnt .main-title {
  width: 370px;
  height: 114px;
  background-color: #fff;
  box-shadow: 0px 10px 5px 0px rgba(3, 21, 36, 0.1);
  opacity: 0.9;
  position: absolute;
  top: 0;
  background-repeat: no-repeat;
  background-position: 240px center;
  padding: 30px
}

.main-bar-cnt .main-title .main-title-before {
  position: absolute;
  width: 10px;
  height: 22px;
  top: 28px;
  left: 0;
}

.main-bar-cnt .main-title.title-l {
  left: 0;
  background-image: url(../images/t-l.png)
}

.main-bar-cnt .title-l .main-title-before {
  background: #dd000c
}

.main-bar-cnt .title-c .main-title-before {
  background: #0086d6
}

.main-bar-cnt .title-r .main-title-before {
  background: #3e505e
}

.main-bar-cnt .main-title.title-c {
  left: 50%;
  margin-left: -185px;
  background-image: url(../images/t-c.png)
}

.main-bar-cnt .main-title.title-r {
  right: 0;
  background-image: url(../images/t-r.png)
}

/* 公告 */

.notice-wapperbox {
  width: 100%;
  height: 60px;
  background-color: #fafafa;
  border-bottom: 3px solid #e6d9b1;
}

.notice-title,
.notice-more {
  position: relative;
  /*font-size: 18px;*/
  line-height: 56px;
  /*font-weight: bold;*/
  /*width: 160px;*/
  padding-left: 15px;
  padding-right: 15px;
}

.notice-title .notice-before {
  /*position: absolute;*/
  display: inline-block;
  width: 24px;
  height: 21px;
  /*top: 18px;*/
  /*left: 30px;*/
  background: url(../images/notice.png) no-repeat center
}



.als-item {
  height: 56px;
  line-height: 56px;
  /*padding-left: 20px;*/
  position: relative;
  cursor: pointer;
}

.als-container {
  position: relative;
  width: 100%;
  margin: 0px auto;
}

.als-viewport {
  height: 56px;
  position: relative;
  overflow: hidden;
  margin: 0px auto;
}

.als-wrapper {
  position: relative;
  list-style: none;
}

.als-prev,
.als-next {
  position: absolute;
  cursor: pointer;
  clear: both;
}

/* 项目 */

.porject-title {
  margin: 30px 0 15px;
}
.product_list{
  margin: 0 -15px
}
.project-item {
  float: left;
  width: 370px;
  margin: 0 15px;
  /*height: 404px;*/
  background-color: #ffffff;
  border: solid 1px #d9dad8;
  padding: 30px;
}

.project-dl {
  position: relative;

}

.project-dl .pro-before {
 
  position: absolute;
  top: 0;
  right: 0;
  height: 44px;
  width: 37px;
  background: url(../images/dy-logo.png) no-repeat center
}

.project-dl dt h3 {
  margin-bottom: 10px;
  /* padding: 32px 0 40px */
  line-height: 1;
}

.project-dl .project-val {
  /*font-size: 18px;*/
  color: #666;
  /* font-weight: 100 */
}

.project-dl .project-val em {
  color: #dd000c
}

.project-sum {
  /*display: inline-block;*/
  position: relative;
  margin-top: 30px;
  color: #ba9965;
  font-size: 48px;
}
.unit{
  display: inline-block;
  font-size: 14px;
  /*color: #e6d9b1;*/
  /*margin-left: 10px;*/
}
.animateNum{
  display: inline-block;
  /*width: 180px;*/
}

.project-tip {
  font-size: 14px;
  color: #999;
}

.project-enter {
  display: block;
  color: #fff !important;
  text-decoration: none !important;
  margin-top: 30px;
  font-size: 16px;
  width: 175px;
  height: 48px;
  line-height: 48px;
}



/* 信息披露 */

.info-link-container {
  margin: 30px 0;
  /*height: 330px;*/
  color: #263039;
}

.info-link-titel {
  display: inline-block;
  font-size: 18px;
  color: #263039;
  padding-right: 30px;
  border-right: 3px solid #ff4c4c;
  margin-right: 30px;
}

.info-box {
  margin-top: 15px;
  height: 272px;
  background-color: #ffffff;
  padding: 30px;
  border: solid 1px rgb(231, 219, 181);
}

.info-list {
  margin-right: 500px;
  padding-left: 30px;
  height: 100%;
}

.info-list li {
  /*height: 20%;*/
  position: relative;
}

.info-list li .after {
  
  position: absolute;
  height: 100%;
  width: 18px;
  background: url(../images/tip.png) no-repeat center center;
  left: -30px;
  top: 0
}

.info-item {
  width: 100%;
  height: 100%;
  text-align: left;
  line-height: 22px;
  display: inline-block;
  padding: 7px 0;
  margin-bottom: 0;
  color: #3f3b3c !important;
}

.info-img {
  width: 467px;
  height: 100%;
}

/*公司新闻 */

.dynamic-item {
  position: relative;
  /*min-height: 54px;*/
  /*padding-left: 104px;*/
  /*padding: 10px 10px 10px 65px;*/
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;
  border: solid 1px #c9c9c9;
}

.dynamic-h {
  position: relative;
  /*line-height: 54px;*/
  font-size: 14px;
  padding-top: 12px;
  padding-bottom: 12px;
  cursor: pointer;
}

.dy-h4 {
  display: inline-block;
}

.dynamic-plus {
  position: absolute;
  right: 0;
  /*margin-right: 15px;*/
  font-size: 14px;
  color: #666;
}

.dynamic-well {
  position: relative;
  padding-right: 15px;
  font-size: 12px;
  /*padding-bottom: 20px*/
}

.dynamic-date {
  display: none;
}

.dynamic-item.shown>.after {
  display: none;
  position: absolute;
  top: 15px;
  left: 15px;
  width: 37px;
  height: 44px;
  background: url('../images/dy-logo.png') no-repeat center;
}

.dynamic-well p {
  /*font-size: 16px;*/
  /*color: #313940;*/
  /*line-height: 28px;*/
}

.dynamic-text {
  /*text-indent: 2em;*/
  word-break: break-all;
  color: #666;
}

.btn.more-btn {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100px;
  height: 30px;
  background-color: #dd000c;
  color: #fff;
  padding: 0 !important;
  line-height: 28px !important;
  font-size: 14px !important;
}

.more-btn:hover {
  color: #fff !important
}

/* 友情链接 */

.friendLink {
  position: relative;
  padding: 45px 0;
  border-top: solid 1px rgb(218, 218, 218);
}

.friendLink h3 {
  line-height: 52px;
}

/* .link-ul {
    height: 48px;
}*/

.link-ul li {
  float: left;
  height: 52px;
  width: 172px;
  background: #fff;
  margin-right: 36px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat
}

.link-ul li a {
  display: block;
  height: 100%;
}

.link-bar {
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 18px;
  background: url(../images/linkbar.png) no-repeat center
}

.link-ul.als-item {
  height: 52px;
}