.information-content,.details-container {
    margin-top: -480px
}

.info-top-bar {
    position: relative;
    width: 900px;
    height: 320px;
    padding: 50px;
    background: #fff;
}

.info-top-bar h2 {
    margin-bottom: 15px;
    font-size: 26px;
}
.info-top-bar h3 {
    /*line-height: 45px;*/
    color: #666;
    font-size: 18px;
    
}

.qrcode {
    width: 367px;
    height: 160px;
    background: url(../images/qrcode.png) no-repeat left bottom;
}

.app-logo {
    position: absolute;
    height: 80px;
    width: 80px;
    background: url(../images/app-logo.png);
    right: 50px;
    top: 50px;
}

.info-list-box {
    position: relative;
    margin-top: 40px;
    width: 100%;
    padding: 30px;
    background: #fff;
}

.info-list-h {
    /*padding-left: 30px;*/
    /*padding-right: 30px;*/
    /*margin-top: 30px;*/
}

.info-list-h h3 {
    position: relative;
    margin-top: 30px;
    margin-bottom: 15px;
    padding-left: 30px;
}

.info-list-h h3>.before {
    position: absolute;
    content: "";
    height: 21px;
    width: 24px;
    left: 0;
    top: 0;
    background: url(../images/pro.png) no-repeat center
}

.info-list-h.ability h3>.before {
    background: url(../images/ability.png) no-repeat center
}

.info-list-h.aptitude h3>.before {
    background: url(../images/aptitude.png) no-repeat center
}

.info-list-h.flow h3>.before {
    background: url(../images/flow.png) no-repeat center
}

.info-list-li {
    padding: 0 20px;
    line-height: 48px;

}

.info-list-li.even {
    background: #f8f8f8
}

.info-list-link {
    /*font-size: 18px;*/
    display: block;
    color: #333;
}



.notice_title {
    line-height: 90px;
    font-size: 22px;
}

.line {
    height: 1px;
    /*margin: 0 30px;*/
    background: #eee
}

.detail-box {
    padding: 0 40px
}

.startDate {
    line-height: 48px;
}

.license {
    height: 472px;
    margin-top: 15px;
    margin-bottom: 15px;
    /*padding: 90px 90px 80px 84px;*/
    /*padding: 30px;*/
    /*margin: 30px;*/
    background: url(../images/license.png) no-repeat center
}

.pdf-ul {
    height: 100%;
    padding-left: 360px;
}

.pdf-ul li {
    height: 25%;
}

.pdf-ul li a {
    display: block;
    padding-top: 44px;
    color: #333;
    /*font-size: 20px;*/
    font-weight: 550;
}

.pdf-ul li p {
    /*font-size: 18px;*/
    /*line-height: 40px;*/
    color: #666;
}



.aptitude-box {
    padding: 15px 0;
}

.aptitude-box p {
    /*font-size: 18px;*/
    color: #666666;
    line-height: 18px;
    max-width: 357px;
    margin: 15px auto
}

.charter {
    display: inline-block;
    width: 230px;
    height: 323px;
    border: solid 1px #f0f0f0;
    background: url(../images/charter.png) no-repeat center
}

.Reply {
    display: inline-block;
    width: 468px;
    height: 323px;
    /*border: solid 1px #f0f0f0;*/
    background: url(../images/Reply.png) no-repeat center
}
.notice_detail{
    text-indent: 2em
}