
select::-ms-expand { display: none; }

.porject-wrap  {
    padding-left: 15px;
    padding-right: 15px;
}

.porject-select {
    position: relative;
}
.porject-container,.detail-container{
    margin-top: -406px;
    padding-bottom: 261px;
    position: relative;
}


.detail-portlet-head{
    margin-top: 28px;
    font-size: 18px;
    color: #666;
    background-color: #ededed;
    padding: 14.5px 0;
    border-bottom: 4px solid #e6d961;
    
}
.porject-sign {
    padding: 40px 50px 45px 45px;
    height: 290px;
    background: #fff;
}

.porject-name {
   
    font-size: 24px;
    line-height: 1;
    color: #333;
    margin-bottom: 20px;
}

.porject-dec {
    line-height: 24px;
    color: #999;
    font-size: 12px;
    max-height: 72px;
    overflow: hidden;
    width: 690px
}

.porject-note {
    padding-left: 20px
}

.porject-note li {
    list-style: disc;
    line-height: 36px;
    font-size: 18px;
    color: #4e4e4e;
}
.detail-head{
    margin-left: 273px;
    border-right: 1px solid transparent
}

.detail-sign {
    
    padding: 38px 0 0 45px;
    width: 100%;
    height: 290px;
    background: #fff;
    bottom: 40px;

}


.contact-serve {
    margin-top: 104px;
    bottom: 45px;
    width: 100%;
    font-size: 24px;
    color: #3e505e;
}
.ml30{
    margin-left: 30px
}
.contact-serve span {
    display: inline-block;
    font-size: 24px;
}

.contact-serve  i{
   
    margin: 0 15px;
}

.prologo {
    position: absolute;
    right: 50px;
    bottom: 45px;
    
}

.select-box {
    position: relative;
  
    height: 88px;
    margin-top: 28px;
    padding: 24px 0
}
.dropdown.select-k{
    height: 100%;
    width: 300px;
}
.centerbox{
    display: none !important
}
.dropdown.select-k .btn{
    border: none;
    height: 100%;
    width: 100%;
    background: #fff;
    text-align: left;
}
.selectContent{
    font-size: 14px;
    color: #4e4e4e;
    padding-left: 20px;
}
.select-icon{
    position: absolute;
    height: 26px;
    width: 45px;
    border-left: 1px solid #d9dad8;
    right: 22px;
    top: 50%;
    margin-top: -13px;
}
.select-icon i{
    position: absolute;
    height: 13px;
    width: 19px;
    background-image: url(../images/select.jpg);
    background-position: 0 0 ;
    top: 50%;
    margin-top: -6px;
    right: 0;
}
.select-icon.icon-up i{
    background-position: 0 13px;
}
.dropdown-menu{
    border-radius: 0;
    width: 100%;
    border: 1px solid #dcdcdc;
    padding: 0
}
.dropdown-menu li {
    height: 40px;
    line-height: 40px;
    color: #4e4e4e;
    background: #f8f8f8;
    padding-left: 42px;
    border-left: 6px solid transparent;
    cursor: pointer;
}
.dropdown-menu li input{
    position: absolute;
    display: none
}
.dropdown-menu li span{
    display:block;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #dbdbdb
}
.dropdown-menu li.active{
    border-left: 6px solid #dd000c
}
.dropdown-menu li:hover{
    background-color: #ededed;
}



.select-label{
    padding: 0 46px;
}
.inputBox{
    width: 300px;
    height: 100%;
}
.inputBox .select-v{
   
    border-radius: 0;
    height: 100%;
    border-radius: 0;
    border: none;
    width: 100%;
    padding: 10px;
}
.select-label,
.select-btn {
    height: 100%;
    line-height: 40px;
    margin: 0 !important;
    word-break: keep-all;
    color: #a0aeb9;
}

.select-btn {
    width: 80px;
    height: 40px;
    font-size: 16px;
    color: #a0aeb9;
    margin-left: 20px !important;
    background-color: transparent;
    border: 1px solid #a0aeb9
}
.select-btn:hover{
    color: #fff;
    border-color: #fff;
    
}
.layui-input,
.layui-select,
.layui-textarea {
    height: 48px !important;
    border-radius: 0 !important
}

.protitlebar {
    /*height: 92px;*/
}

.prolist-title {
    position: relative;
    margin-top: 30px;
    margin-bottom: 15px;
    /*line-height: 92px;*/
    padding-left: 40px
}


#tb_project {
    width: 100%;
    white-space: nowrap;
}
#tb_project thead tr th,
#tb_project tbody tr td{
    padding-left: 20px;
    padding-right: 30px;
    overflow: hidden;
}
@media (max-width: 1599px){
    #tb_project thead tr th,
    #tb_project tbody tr td{
        padding-left: 10px;
        padding-right: 20px;
        overflow: hidden;
    }
}
#tb_project thead {
    line-height: 48px;
    background-color: #ededed;
    font-size: 14px;
}
#tb_project thead th {
    border-bottom: 3px solid #4c6373;
}
#tb_project tbody {
    border: solid 1px #d7d8d6;
}

#tb_project tbody tr {
    height: 60px;
    font-size: 14px;
    color: #3f3b3c;
    cursor: pointer;
}


#tb_project tbody .no-item {
    line-height: 200px;
}

#tb_project tbody .strip2 {
    background-color: #f8f8f8;
}

/*项目详情 */

.detail-sign>.before {
    content: '';
    position: absolute;
    width: 10px;
    height: 168px;
    background-color: #dd000c;
    top: 0;
    left: 0;
}

.detail-title {
    margin-bottom: 15px;
    color: #333;
    font-size: 22px;
}
.dataDec{
    font-size: 12px;
	line-height: 24px;
    color: #999999;
    max-height: 72px;
    overflow: hidden;
    margin-bottom: 30px;
    margin-right: 51px
}

.text-table tbody td {
    padding-top: 16px ;
    font-size: 14px;
    color: #333;
    text-align: center
}


.detail-dec {
    font-size: 22px;
    height: 145px;
    line-height: 36px;
    color: #333333;
}
.text-table{
    width: 100%
}
.text-table thead th {
    height: 45px;
    text-align: center;
    font-size: 12px;
    color: #666
}
.detail-th,.text-table thead{
    background-color: #ededed;
    height: 48px;
    border-bottom: 3px solid #3e505e
}

.detail-th span,
.detail-tb span {
    font-size: 14px;
    line-height: 48px;
    color: #333333;
    white-space: nowrap
}
.dLogo{
    position: absolute;
    top: 95px
}



.detail-bar {
    height: 80px !important;
    padding-left: 30px;
    background-color: #ededed;
    border-bottom: 3px solid #4c6373
}

.detail-list {
    border: solid 1px #d7d8d6;
    border-top: none
}

.detail-list .detail-list-li {
    line-height: 68px;
    background: #fff
}
.detail-list-title{
    width: 320px;
    color: #666
}
.detail-list-c{
    margin-left: 500px;
    color:#333
}
.detail-list li.even {
    background: #f8f8f8
}
.detail-list-title p {
    padding-right: 0 !important
}
.detail-list li p {
    word-break: break-all;
    margin: 0;
    color: #3f3b3c;
    font-size: 14px;
    line-height: 30px;
    padding-right: 50px;
}
.c3{
    color: #333
}
.c6{
    color: #666
}
.c9{
    color: #999
}
.highlight .c9{
    color: #666 
}
.highlight .c6{
    color: #333
}
.dataTables_empty{
    padding-top: 20px
}
.project-data-dl {
    display: flex;
}

.project-data-dt {
    -webkit-flex: 1px;
    -moz-flex: 1px;
    -ms-flex: 1px;
    -o-flex: 1px;
    flex: 1px;
}
.project-data-dd {
    -webkit-flex: 1px;
    -moz-flex: 1px;
    -ms-flex: 1px;
    -o-flex: 1px;
    flex: 1px;
}



table.dataTable thead th, table.dataTable thead td {
    font-size: 14px !important;
}