<div class="container-fluid friendLink">
    <div class="container" >
        
            
                <h2 class= "friendLinkT pull-left">合作机构</h2>
     
       
    
            <div class="friendlinkC notice " >
                <div class="als-viewport " >
                    <ul class="als-wrapper ">
                        {% for item in ['a','b','c','d']%}
                        <ul class="link-ul als-item">
                            {% for num in [1,2,3,4,5]%}
                            <li class="">
                                
                                    <img src="../images/friendLink/{{item+num}}.jpg" >
                               
                            </li>
                            {%endfor%}
                        </ul>
                        {% endfor%}
                    </ul>
                </div>
            </div>
       
    </div>
    <div class="link-bar"></div>
</div>