<div class="container-fluid friendLink">
    <div class="container ">
        <div class="">
            <div class="pull-left">
                <h3 class="">合作机构</h3>
            </div>
            <div class="notice  " style="margin: 0">
                <div class="als-viewport" style="height: 52px;">
                    <ul class="als-wrapper">
                        {% for item in ['a','b','c','d']%}

                        <ul class="link-ul als-item">
                            {% for num in [1,2,3,4,5]%}
                            <li class="" style="background-image: url(../images/friendLink/{{item+num}}.jpg)">
                                <a href="javascript:;">

                                </a>
                            </li>

                            {%endfor%}
                        </ul>
                        {% endfor%}
                    </ul>
                </div>
            </div>
            <!-- <ul class="col-md-12 col-lg-10 link-ul">
                <li style="background-image: url(../images/friendLink/)">
                    <a href="javascript:;">

                    </a>
                </li>
                <li style="background-image: url(../images/bg.png)">
                    <a href="javascript:;">

                    </a>
                </li>
                <li style="background-image: url(../images/bg.png)">
                    <a href="javascript:;">

                    </a>
                </li>
                <li style="background-image: url(../images/bg.png)">
                    <a href="javascript:;">

                    </a>
                </li>
            </ul> -->
        </div>
    </div>
    <div class="link-bar"></div>
</div>