<div class="container-fluid friendLink">
    <div class="container ">
        <div class="row">
            <div class="col-lg-2">
                <h3 class="">合作机构</h3>
            </div>
            <ul class="col-md-12 col-lg-10 link-ul">
                <li style="background-image: url(../images/bg.png)">
                    <a href="javascript:;">

                    </a>
                </li>

            </ul>
        </div>
    </div>
    <div class="link-bar"></div>
</div>