<!-- 1 -->
<div class="info-link-container">
    <a href="/Information/notice" class="pull-right more-link"> 查看更多</a>
    
    <h3 style="display: inline-block;">本所公告</h3>
    <div class=" info-box">
        <div class="info-img pull-right">
            <img src="../images/newbg.png" width="100%" height="100%" alt="">
        </div>
        <ul class="info-list clearfix">
            {% for item in data.news.data %}
            <li>
                <a href="/about/1/{{item.pid}}" class=" info-item text-left">
                    {{item.notice_title}}
                </a>
            </li>
            {% else %}

            <h3 class="text-center" style="line-height: 180px">暂无公告</h3>

            {% endfor%}
        </ul>

    </div>
</div>