<li class="project-item">

  <dl class="project-dl">
    <dt>
      <h3>资产登记专区</h3>
    </dt>
    <dd>
      <h4 class="project-val">提供资产登记服务
        <em class="glyphicon glyphicon-chevron-right"></em>
      </h4>
    </dd>
    <dd style="position: relative;">
      <div class="project-sum data-total text-right">
        <div class="animateNum" data-animatetarget="{{data.AssetInfo.data.registrationTotal}}"></div>
        <span class="unit">{{data.AssetInfo.data.registrationTotalUnit}}</span>
      </div>
    </dd>
    <dd>
      <p class="project-tip">总登记金额</p>
    </dd>
    <dd>
      <a href="/projects/0" class=" yzs-btn project-enter text-center">进入专区</a>
    </dd>
  </dl>
</li>
<li class="project-item">
  <dl class="project-dl">
    <dt>
      <h3>挂牌交易专区</h3>
    </dt>
    <dd>
      <h4 class="project-val">提供挂牌交易服务
        <em class="glyphicon glyphicon-chevron-right"></em>
      </h4>
    </dd>
    <dd style="position: relative;">
      <div class="project-sum data-total text-right">
        <div class="animateNum" data-animatetarget="{{data.AssetInfo.data.shingleTotal}}"></div>
        <span class="unit">{{data.AssetInfo.data.shingleTotalUnit}}</span>
      </div>

    </dd>
    <dd>
      <p class="project-tip">总成交金额</p>
    </dd>
    <dd>
      <a href="/projects/1" class=" yzs-btn project-enter text-center">进入专区</a>
    </dd>
  </dl>
</li>
<li class="project-item">
  <dl class="project-dl">
    <dt>
      <h3>直融项目专区</h3>
    </dt>
    <dd>
      <h4 class="project-val">提供直融项目服务
        <em class="glyphicon glyphicon-chevron-right"></em>
      </h4>
    </dd>
    <dd style="position: relative;">
      <div class="project-sum ">

        <span class="">6</span>%~
        <span class="">8</span>%

      </div>
    </dd>
    <dd>
      <p class="project-tip">预期年化收益率</p>
    </dd>
    <dd>
      <a href="/projects/2" class=" yzs-btn project-enter text-center">进入专区</a>
    </dd>
  </dl>
</li>
<script>
  $('body').running();
</script>