<!-- 3 -->
<div class="info-link-container">

  <div class=" pull-right notice-more">
    <a class="more-notice" href="/about/dynamic">查看更多</a>
  </div>
  <h2 class="porject-title pl28">公司动态</h2>
  <div id="collapsebox">
    {% for item in data.plat.data %}
    <div class="panel dynamic-item">
        <div class="after icon-m-ic-icon m-ic-icon-plogo"></div>
      <span class="dy-btn hicon  " href="{{'#collapseExample'+loop.index}}" data-toggle="collapse" data-parent="#collapsebox" aria-expanded="{{loop.first}}">
        <i class="icon-m-ic-icon m-ic-icon-minus"></i>
        <i class="icon-m-ic-icon m-ic-icon-plus"></i>
      </span>
 
      <div class="dynamic-h">
        <a href="/about/1/{{item.pid}}">
          <h4 class="dy-h4">{{item.notice_title}}</h4>
        </a>
      </div>
      <div class="panel-collapse collapse" id="{{'collapseExample'+loop.index}}">
        <div class="dynamic-well ">
          <a href="/about/1/{{item.pid}}">
            <p class="dynamic-date">{{item.startDate}}</p>
            <div class="dynamic-text ">
              <p class="clemp">{{item.summary}}
                <span class="after">...</span>
              </p>
            </div>
          </a>
        </div>
      </div>
      <!-- </a> -->

    </div>
    {% endfor %}
  </div>
</div>