<!-- 3 -->
<div class="info-link-container">
<a href="/about/dynamic" class="pull-right more-link">
  查看更多
</a>
<h2 class="" style="margin-bottom: 15px">公司动态</h2>
{% for item in data.plat.data %}
<div class=" dynamic-item">
  <span class="after"></span>
  <div class="dynamic-h" data-toggle="collapse" data-target="{{'#collapseExample'+loop.index}}" aria-expanded="false">
    <h4 class="dy-h4">{{item.notice_title}}</h4>
    <div class="dy-h4 dynamic-plus">
      <span class="  glyphicon glyphicon-plus
        "></span>
    </div>

  </div>
  <div class="collapse" id="{{'collapseExample'+loop.index}}">
    <div class="dynamic-well">
      <p class="dynamic-date">{{item.startDate}}</p>
      <div class="dynamic-text "><p class="clemp">{{subStringFn(item.notice_detail)}} <span class="after">...</span></p></div>
      <div class="text-right"><a class="btn  btn-lg more-btn" role="button" href="/about/1/{{item.pid}}">查看更多</a></div>
    </div>
  </div>
</div>
{% endfor %}
  </div>
<script>
  // shown.bs.collapse
  $('.collapse').on('show.bs.collapse hide.bs.collapse', function () {
    $(this).parents('.dynamic-item').toggleClass('shown')

    $(this).siblings('.dynamic-h').find('.dynamic-plus>.glyphicon').toggleClass('glyphicon-plus glyphicon-minus')
  })
  $('.collapse').on('shown.bs.collapse ', function () {
    $('.shown .clemp').each(function(i,obj){
        var lh = parseInt($(this).css('line-height'));
        var height = parseInt($(this).height());
        console.log(height)
        if((height / lh) >3 ){
            $(this).addClass("p-after").css({"height":lh*3+'px',"overflow":"hidden"})
            $(this).find('.after').show().css('background-color','#fff')
        }else{
            $(this).removeClass("p-after");
        }
    })
  })
</script>