<!-- 1 -->
<div class="notice-wapperbox">
    <div class="notice-title pull-left">
        <span class="notice-before  icon-m-ic-icon m-ic-icon-notice "></span><span class="mr20 red vm">公告</span><span class="vm">|</span>
    </div>
    <div class=" pull-right notice-more">
        <a class="more-notice" href="/Information/notice">查看更多</a>
    </div>
    <div class="notice notice-box">
        <div class="als-viewport">
            <ul class="als-wrapper">
                {% for item in data.notice.data%}
                <li class="als-item">
                    <a href="/Information/0/{{item.pid}}">
                        {{item.notice_title}}
                    </a>
                </li>
                {%endfor%}
            </ul>
        </div>
    </div>
</div>
