/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-m-ic-icon.m-ic-icon-a1 {
  background-image: url(../images/friendLink/icons.png);
  background-position: -179px -104px;
  width: 172px;
  height: 52px;
}
.icon-m-ic-icon.m-ic-icon-a2 {
  background-image: url(../images/friendLink/icons.png);
  background-position: 0px -262px;
  width: 172px;
  height: 52px;
}
.icon-m-ic-icon.m-ic-icon-a3 {
  background-image: url(../images/friendLink/icons.png);
  background-position: 0px -106px;
  width: 172px;
  height: 52px;
}
.icon-m-ic-icon.m-ic-icon-a4 {
  background-image: url(../images/friendLink/icons.png);
  background-position: -179px 0px;
  width: 172px;
  height: 52px;
}
.icon-m-ic-icon.m-ic-icon-a5 {
  background-image: url(../images/friendLink/icons.png);
  background-position: -179px -52px;
  width: 172px;
  height: 52px;
}
.icon-m-ic-icon.m-ic-icon-b1 {
  background-image: url(../images/friendLink/icons.png);
  background-position: 0px 0px;
  width: 179px;
  height: 54px;
}
.icon-m-ic-icon.m-ic-icon-b2 {
  background-image: url(../images/friendLink/icons.png);
  background-position: 0px -158px;
  width: 172px;
  height: 52px;
}
.icon-m-ic-icon.m-ic-icon-b3 {
  background-image: url(../images/friendLink/icons.png);
  background-position: -172px -158px;
  width: 172px;
  height: 52px;
}
.icon-m-ic-icon.m-ic-icon-b4 {
  background-image: url(../images/friendLink/icons.png);
  background-position: 0px -210px;
  width: 172px;
  height: 52px;
}
.icon-m-ic-icon.m-ic-icon-b5 {
  background-image: url(../images/friendLink/icons.png);
  background-position: -172px -210px;
  width: 172px;
  height: 52px;
}
.icon-m-ic-icon.m-ic-icon-c1 {
  background-image: url(../images/friendLink/icons.png);
  background-position: 0px -54px;
  width: 172px;
  height: 52px;
}
.icon-m-ic-icon.m-ic-icon-c2 {
  background-image: url(../images/friendLink/icons.png);
  background-position: -172px -262px;
  width: 172px;
  height: 52px;
}
.icon-m-ic-icon.m-ic-icon-c3 {
  background-image: url(../images/friendLink/icons.png);
  background-position: -351px 0px;
  width: 172px;
  height: 52px;
}
.icon-m-ic-icon.m-ic-icon-c4 {
  background-image: url(../images/friendLink/icons.png);
  background-position: -351px -52px;
  width: 172px;
  height: 52px;
}
.icon-m-ic-icon.m-ic-icon-c5 {
  background-image: url(../images/friendLink/icons.png);
  background-position: -351px -104px;
  width: 172px;
  height: 52px;
}
.icon-m-ic-icon.m-ic-icon-d1 {
  background-image: url(../images/friendLink/icons.png);
  background-position: -351px -156px;
  width: 172px;
  height: 52px;
}
.icon-m-ic-icon.m-ic-icon-d2 {
  background-image: url(../images/friendLink/icons.png);
  background-position: -351px -208px;
  width: 172px;
  height: 52px;
}
.icon-m-ic-icon.m-ic-icon-d3 {
  background-image: url(../images/friendLink/icons.png);
  background-position: -351px -260px;
  width: 172px;
  height: 52px;
}
.icon-m-ic-icon.m-ic-icon-d4 {
  background-image: url(../images/friendLink/icons.png);
  background-position: 0px -314px;
  width: 172px;
  height: 52px;
}
.icon-m-ic-icon.m-ic-icon-d5 {
  background-image: url(../images/friendLink/icons.png);
  background-position: -172px -314px;
  width: 172px;
  height: 52px;
}
