<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="{{keywords}}" />
    <meta name="description" content="{{description}}" />
    <link rel="stylesheet" href="/css/information.css"> {% include "common/css.njk" %}
</head>

<body ontouchstart>
    {% include "common/header.njk" %}
    <div class="container-fluid main-bg ability-main" style="height: 520px;background-image: url(/images/info-bg.png)">
        <div class="main-bar" style="height: 120px;background: #3e505e;z-index: -10;"></div>
    </div>
    <div class="container information-content ability-content">
        {% include "Information/infobar.njk" %}
        <div class="info-list-box ">
            <div class="info-list-head row" style="border: none">
                {% set menuData = { "title":'信息披露',navlist:[{title:'企业资质',path:'/Information/ability'},{title:'本所公告',path:'/Information/notice'}]
                } %} {% include "common/menu.njk" %}
            </div>
            <div class="portlet-head">
                <h2>
                    <i class="icon-m-ic-icon m-ic-icon-icon_aptitude_1"></i>
                    <span class="vm">交易所牌照</span>
                </h2>
            </div>
            <div class="line "></div>
            <div class="license">
                <ul class="pdf-ul">
                    <li>
                        <img data-original='/images/pdf/build.jpg' src="/images/pdf/build.jpg" alt="关于批准深圳亚太租赁资产交易中心有限公司筹建的函" class="hide" id="build">
                        <a class="viewerBtn" href="javascript:;" data-target='build'>《关于批准深圳亚太租赁资产交易中心有限公司筹建的函》</a>
                        <p>（深府金函 [2014] 309号）</p>
                    </li>
                    <li>
                        <img data-original='/images/pdf/qualification.jpg' src="/images/pdf/qualification.jpg" alt="关于批准深圳亚太租赁资产交易中心有限公司业务资格的函" class="hide"
                            id="qualification">
                        <a class="viewerBtn" href="javascript:;" data-target='qualification'>《关于批准深圳亚太租赁资产交易中心有限公司业务资格的函》</a>
                        <p>（深府金函 [2014] 480号））</p>
                    </li>
                    <li>
                        <img data-original='/images/pdf/range.jpg' src="/images/pdf/range.jpg" alt="《关于同意深圳亚太租赁资产交易中心有限公司变更经营范围的批复》" class="hide"
                            id="range">
                        <a class="viewerBtn" href="javascript:;" data-target='range'>《关于同意深圳亚太租赁资产交易中心有限公司变更经营范围的批复》</a>
                        <p>（深府金函 [2014] 508号）</p>
                    </li>
                    <li>
                        <img data-original='/images/pdf/Reply.jpg' src="/images/pdf/Reply.jpg" alt="《关于同意深圳亚太租赁资产交易中心有限公司变更经营范围的批复》" class="hide"
                            id="replyt">
                        <a class="viewerBtn" href="javascript:;" data-target='replyt'>《关于同意深圳亚太租赁资产交易中心有限公司变更经营范围的批复》</a>
                        <p>（深府金函 [2015] 111号）</p>

                    </li>
                </ul>
            </div>
            <div class="portlet-head">
                <h2>
                    <i class="icon-m-ic-icon m-ic-icon-icon_aptitude_2"></i>
                    <span class="vm">交易流程</span>
                </h2>
            </div>

            <div class="line "></div>
            <div class="p30 text-center">
                <img src="/images/flow-bg.png">
            </div>
            <div class="portlet-head">
                <h2>
                    <i class="icon-m-ic-icon m-ic-icon-icon_aptitude_3"></i>
                    <span class="vm">专业资质</span>
                </h2>
            </div>

            <div class="line "></div>
            <div class="p30">
                <div class="row text-center">
                    <div class="col-xs-6">
                        <dl>
                            <dt>

                                <img id="charter" data-original='/images/pdf/charter.jpg' src="/images/pdf/charter.jpg" alt="营业执照" class="charter">

                            </dt>
                            <dd class="mt10">
                                <p>营业执照</p>
                            </dd>
                        </dl>
                    </div>

                    <div class="col-xs-6 ">
                        <dl>
                            <dt>

                                <img id="Reply" data-original='/images/pdf/Reply.jpg' src="/images/pdf/Reply.jpg" alt="关于同意深圳亚太租赁资产交易中心有限公司 变更经营范围的批复" class="Reply">

                            </dt>
                            <dd class="mt10">
                                <p>关于同意深圳亚太租赁资产交易中心有限公司 变更经营范围的批复
                                </p>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>


        <!-- 风险揭示 -->
        {% include 'common/riskWarning.njk'%}

    </div>
    <!-- footer -->
    {% include 'common/footer.njk'%}
</body>
{% include "common/js.njk" %}
<script>
    window.onload = function () {
    var preload = document.createElement('div');
    preload.id = 'preload';
    document.body.appendChild(preload);
    }
    $(function () {
        $('#charter,#Reply,#build,#qualification,#range,#replyt').viewer({
            navbar: false,
            toolbar: false,
            url: "data-original"
        })

        $('.viewerBtn').on('click', function () {
            var args = $(this).data('target');
            $('#' + args).trigger('click')

        })
    })
</script>

</html>