<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <title>亚租所</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="亚租所" />
    <meta name="description" content="亚租所" />
    <link rel="stylesheet" href="/css/information.css"> {% include "common/css.njk" %} {% include "common/js.njk" %}
</head>

<body>
    {% include "common/header.njk" %}
    <div class="container-fluid main-bg ability-main" style="height: 625px;background-image: url(/images/info-bg.png)">
        <div class="main-bar" style="height: 174px;background: #3e505e;z-index: -10;"></div>
    </div>
    <div class="container information-content ability-content">
        {% include "Information/infobar.njk" %}
        <div class="info-list-box ">
            <div class="info-list-head row" style="border: none">
                {% set menuData = { "title":'信息披露',navlist:[{title:'企业资质',path:'/Information/ability'},{title:'本所公告',path:'/Information/notice'}]
                } %} {% include "common/menu.njk" %}



            </div>
            <div class="info-list-h  ability" style="padding-left: 20px">
                <h3>交易所牌照</h3>
            </div>
            <div class="line "></div>
            <div class="license">
                    <ul class="docs-pictures hide">
                            <li>
                                <img  data-original='/images/pdf/build.jpg' src="/images/pdf/build.jpg" alt="关于批准深圳亚太租赁资产交易中心有限公司筹建的函">
                            </li>
                            <li>
                                <img data-original='/images/pdf/qualification.jpg' src="/images/pdf/qualification.jpg" alt="关于批准深圳亚太租赁资产交易中心有限公司业务资格的函">
                            </li>
                            <li>
                                <img data-original='/images/pdf/range.jpg' src="/images/pdf/range.jpg" alt="《关于同意深圳亚太租赁资产交易中心有限公司变更经营范围的批复》">
                            </li>
                            <li>
                                <img data-original='/images/pdf/Reply.jpg' src="/images/pdf/Reply.jpg" alt="《关于同意深圳亚太租赁资产交易中心有限公司变更经营范围的批复》">
                            </li>
                
                        </ul>
                <ul class="pdf-ul">
                    <li>
                        <a class="viewerBtn"  href="javascript:;" data-target='0'>《关于批准深圳亚太租赁资产交易中心有限公司筹建的函》</a>
                        <p>（深府金函 [2014] 309号）</p>
                    </li>
                    <li>
                        <a class="viewerBtn"  href="javascript:;" data-target='1'>《关于批准深圳亚太租赁资产交易中心有限公司业务资格的函》</a>
                        <p>（深府金函 [2014] 480号））</p>
                    </li>
                    <li>
                        <a class="viewerBtn"  href="javascript:;"data-target='2'>《关于同意深圳亚太租赁资产交易中心有限公司变更经营范围的批复》</a>
                        <p>（深府金函 [2014] 508号）</p>
                    </li>
                    <li>
                        <a class="viewerBtn"   href="javascript:;" data-target='3'>《关于同意深圳亚太租赁资产交易中心有限公司变更经营范围的批复》</a>
                        <p>（深府金函 [2015] 111号）</p>

                    </li>
                </ul>
            </div>
            <div class="info-list-h  flow" style="padding-left: 20px">
                <h3>交易流程</h3>
            </div>
            <div class="line "></div>
            <div style="padding: 0 20px">
                <div class="flow-bg"></div>
            </div>

            <div class="info-list-h  aptitude" style="padding-left: 20px">
                <h3>专业资质</h3>
            </div>
            <div class="line "></div>
            <div class="row aptitude-box text-center">
                <div class="col-lg-5">
                    <dl>
                        <dt>

                            <img id="charter" data-original='/images/pdf/charter.jpg' src="/images/pdf/charter.jpg" alt="营业执照" class="charter">

                        </dt>
                        <dd>
                            <p>营业执照</p>
                        </dd>
                    </dl>
                </div>
                <div class="col-lg-7 ">
                    <dl>
                        <dt>

                            <img id="Reply" data-original='/images/pdf/Reply.jpg' src="/images/pdf/Reply.jpg" alt="关于同意深圳亚太租赁资产交易中心有限公司 变更经营范围的批复" class="Reply">

                        </dt>
                        <dd>
                            <p>关于同意深圳亚太租赁资产交易中心有限公司 变更经营范围的批复
                            </p>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    

        <!-- 风险揭示 -->
        {% include 'common/riskWarning.njk'%}

    </div>
    <!-- footer -->
    {% include 'common/footer.njk'%}
</body>
<script>
    var v = $('#charter,#Reply,.docs-pictures').viewer(
        {
            navbar:false,
            toolbar:false,
            url : "data-original" 
        }
    )
   $('.viewerBtn').on('click',function(){
       var args = $(this).data('target');
   
        $('.docs-pictures').viewer('view',args)
   })
</script>

</html>