<div class="info-top-bar">
    <h2>亚租所-让资产高效流通</h2>
    <h3>Shenzhen Asia Pacific leasing asset trading center Co.,Ltd</h3>
    <div class="qrcode"></div>
    <div class="app-logo icon-m-ic-icon m-ic-icon-app-logo"></div>
</div>