<div class="info-list-box ">
    <div class="info-list-head row">
       {% if data.notice.data[0].notice_type==4 %}
        {% set menuData = { type:data.notice.data[0].type, "title":'会员服务',navlist:[{title:'入会须知',path:'/about/notify'},{title:'政策法规',path:'/about/policy'}]
        } %} 
        {% else  %}
        {% set menuData = {  "title":'信息披露',navlist:[{title:'企业资质',path:'/Information/ability'},{title:'本所公告',path:'/Information/notice'}]
    } %} 
    {%endif%}
        {% include "common/menu.njk" %}

     
    </div>
    <div class="portlet-head">
    <h2><i class="icon-m-ic-icon m-ic-icon-pro"></i>{%if getPath(path)[2] == 'policy'%} <span class="vm">政策法规列表</span>{%else%} <span class="vm">公告列表</span>{%endif%}</h2>
    </div>

    <ul class="info-list-ul  portlet-body">
        {% for item in data.notice.data %}
        <li class="info-list-li {%if loop.index%2 ==0%} even  {%endif%}">
            <a href="/Information/0/{{item.pid}}" class="info-list-link">{{item.notice_title}}
                <span class="info-list-date pull-right">{{item.startDate}}</span>
            </a>
        </li>
        {%endfor%}
    </ul>
</div>
<!-- 分页 S-->
<div id="Pagination" class="pagination">
 
</div>
