<link rel="stylesheet" href="/lib/pagination/pagination.css">
<link rel="stylesheet" href="/lib/jquery-viewer/viewer.css">
<link href="/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
<link href="/lib/jquery-dataTable/jquery-dataTable.css" rel="stylesheet" />
<link href="/lib/layui-v2.3.0/layui/css/layui.css" rel="stylesheet" />
<link rel="stylesheet" href="/css/common.css">

<!-- 后面单独放一个样式表里 -->