<ul class="fixed-download-goBack text-center">

	<li class="fixed-download dropdown-has-content" >
		<a href="javascript:;"  class="popoverBtn"
		data-container=".popoverBtn" data-toggle="popover" data-placement="left" data-trigger='hover'
		 data-content="<img src='/images/qr2.png' alt='二维码' width='130' height='130' /><p class='prange text-center'>扫一扫</p><p class='prange text-center'>下载app</p>" >
				<em class="fixed-icon  fixed-icon-qrcode"></em>
		</a>
		

	</li>
	<li class="fixed-contact ">
		<a class=" servepopoverBtn" href="javascript:;" 
		data-container="body" data-toggle="popover" data-placement="left" data-trigger='hover'
		data-content="客服电话 0755-32989919" >
		<em class="fixed-icon fixed-icon-serve"></em>
	</a>
	</li>
	<li class="fixed-goTop " style="display: none;">
		<span class="fixed-icon glyphicon fixed-icon-up" href="javascript:"></span>
	</li>
</ul>
