<div class="container-fluid footer-box">
    <div class="container footer-info">
        <div class="row">
            <div class="footer-logo col-xs-2">
                <h1>
                    <a href="javascript:;" title="亚租所">
                        <img src="/images/footerlogo.png" alt="">
                    </a>
                </h1>
            </div>
            <div class="footer-list-box col-xs-6 clearfix">
                <div id="foot_temx">
                    <dl>
                        <dt>关于我们</dt>
                        <dd>
                            <a href="/about" data-name="本所简介">本所简介</a>
                        </dd>
                        <dd>
                            <a href="/about/dynamic" data-name="公司动态">公司动态</a>
                        </dd>
                        <!-- <dd>
                            <a href="/about/contact" data-name="管理团队">管理团队</a>
                        </dd> -->
                    </dl>

                    <dl>
                        <dt>会员服务</dt>
                        <dd>
                            <a href="/about/notify" data-name="入会须知">入会须知</a>
                        </dd>
                        <dd>
                            <a href="/about/policy" data-name="政策法规">政策法规</a>
                        </dd>
                    </dl>
                    <dl>
                        <dt>帮助中心</dt>
                        <dd>
                            <a href="/about/noticeUs" data-name="联系我们">联系我们</a>
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="code-list  col-xs-4">
                <dl class="pull-right text-center">
                    <dt>
                        <img src="/images/app.png" alt="">
                    </dt>
                    <dd>
                        <p>app下载</p>
                    </dd>
                </dl>
                <dl class="pull-right text-center">
                    <dt>
                        <img src="/images/wx.png" alt="">
                    </dt>
                    <dd>
                        <p>微信公众号</p>
                    </dd>
                </dl>

            </div>
        </div>
        <div class="footer-address-copyright ">
            <p class="copyright text-left" style="color:#989ca0;">
                <span id="WEB_VERSION">版权所有 ©深圳亚太租赁资产交易中心有限公司 &nbsp;&nbsp; 未经许可不得复制、转载或摘编，违者必究!</span>
                <span id="PLATFORM_RECORD">
                    <a href="http://www.miitbeian.gov.cn" style="color:#989ca0;" target="_blank" rel="nofollow"> 备案序号：粤ICP备15017565号-1 　</a>
                </span>
            </p>
        </div>
        <div class="custom-service ">
            
        <h2 class="service_no"><i class="custom vm"></i><span class="vm">0755-32989919</span></h2>
        </div>
    </div>

</div>
