<div class="container-fluid header-top navbar navbar-fixed-top">
    <div class="container ">
        <div class="topbar">
            <ul class="topbar-nav pull-right">
                <li class="qrdown">
                    <em class="icon icon-wx"></em>
                    微信公众号
                    <div class="dropdown-con text-center"  > <em class="sharp glyphicon glyphicon-triangle-top"></em>
                        <img width="110" height="110" alt="微信公众号" src="/images/wx.png">
                        <p>微信公众号</p>
                    </div>
                </li>
                <li class="top-line"></li>
                <li class="qrdown">
                    <em class="icon icon-phone"></em>
                    手机APP
                    <div class="dropdown-con text-center" > <em class="sharp glyphicon glyphicon-triangle-top"></em>
                        <img width="110" height="110" alt="手机APP下载" src="/images/app.png">
                        <a href="javascrtp:;">立即下载</a>
                    </div>
                </li>
                <li class="top-login">
                    机构登入
                </li>
            </ul>
            欢迎访问深圳亚太租赁资产交易中心&nbsp;&nbsp;
            <span>|</span>
            &nbsp;&nbsp;
            <em class="icon icon-call"></em>
            客服电话:
            <span class="callNo">0755-32989919</span>
        </div>
        <div class="top-nav-container">
            {% include "common/logo.njk" %} {% include "common/nav.njk" %}
        </div>

    </div>
</div>
{% include "common/fixed.njk"%}
<script>
    $('.qrdown').hover(function(){
        $(this).find('.dropdown-con').toggleClass('qrshow')
    },function(){
        $(this).find('.dropdown-con').toggleClass('qrshow')
    })
</script>