<script>
  var apiBasePath = '{{apiBasePath}}';
</script>
<script src="/lib/jquery-1.11.1.js"></script>
<script src="/lib/jquery.cookie.js"></script>
<script src="/lib/bootstrap/js/bootstrap.js"></script>
<script src="/lib/bootstrap-table/src/bootstrap-table.js"></script>
<script src="/lib/layer/layer.js"></script>
<script src="/lib/js.cookie.js?v=201702070944"></script>
<script src="/lib/jquery.waypoints.min.js"></script>
<script src="/lib/provider.js"></script>
<script src="/lib/utils.js"></script>
<script src="/lib/jquery.running.min.js"></script>
<script src="/lib/pagination/jquery.pagination.js"></script>
<script src="/lib/request.js?v=201706121026"></script>
<script src="/lib/viewerjs/dist/viewer.min.js"></script>
<script src="/lib/jquery-viewer/dist/jquery-viewer.min.js"></script>
<script src="/lib/layui-v2.3.0/layui/layui.js"></script>
<script src="/lib/sal.js"></script>
<script src="/lib/router.js"></script>
<script src="/js/mappings.js"></script>