<script>
  var apiBasePath = '{{apiBasePath}}';
</script>

<script src="/lib/jquery-1.11.1.js"></script>
    <!--[if lt IE 9]>
    　 <script src="https://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
       <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.js"></script>
    <![endif]-->
<script src="/lib/bootstrap/js/bootstrap.js"></script>
<script src="/lib/layer/layer.js"></script>
<script src="/lib/jquery.waypoints.min.js"></script>
<script src="/lib/jquery.running.min.js"></script>
<script src="/lib/pagination/jquery.pagination.js"></script>

<script src="/lib/jquery-viewer/jquery-viewer.js"></script>

<script src="/lib/layui-v2.3.0/layui/layui.js"></script>
<script src="/lib/sal.js"></script>
<script src="/lib/jquery-dataTable/jquery-dataTable.js"></script>
