{% set pathname =getPath(path).splice(0,3).join('/') %}
<div class="info-menu  col-xs-2">
    <span class="before">
        <i class="icon-m-ic-icon m-ic-icon-infoicon"></i>
    </span>
    {{menuData.title}}
    <ul class="info-menu-ul " id="infoMenu">
        {% for item in menuData.navlist %}
        <li class="{% if pathname == item.path or menuData.type == item.title %}menu-this{% endif %}">
            <a href="{{item.path}}" class="text-left ">{{item.title}}</a>
        </li>
        {% endfor%}
        <span class=" menu-bar"></span>
    </ul>

</div>
{% if menuData.type %}

<div class="info-title col-xs-10">{{menuData.type}}</div>
{% else %}
<div class="info-title col-xs-10">{% for item in menuData.navlist %} {% if pathname == item.path %} {{item.title}} {%endif%} {% endfor%}</div>

{% endif%}
