{% set pathname =getPath(path).splice(0,3).join('/') %}
<div class="info-menu text-right col-lg-2">
    {{menuData.title}}
    <ul class="info-menu-ul " id="infoMenu">
        {% for item in menuData.navlist %}
        <li>
            <a href="{{item.path}}" class="text-left {% if pathname == item.path or menuData.type == item.title %} menu-this{% endif %}">{{item.title}}</a>
        </li>
        {% endfor%}
        <span class=" menu-bar"></span>
    </ul>

</div>
{% if menuData.type %}

<div class="info-title col-lg-10">{{menuData.type}}</div>
{% else %}
<div class="info-title col-lg-10">{% for item in menuData.navlist %} {% if pathname == item.path %} {{item.title}} {%endif%} {% endfor%}</div>

{% endif%}
<script>
    $('.info-menu').hover(function () {
        $('#infoMenu').toggleClass('menu-show')
    }, function () {
        $('#infoMenu').toggleClass('menu-show')
    })
    $('#infoMenu li').hover(function () {
        $('.menu-bar').css({
            'top': $(this).position().top,
            "opacity": 1
        })
    }, function () {
        $('.menu-bar').css({
            'top': $('.menu-this').position(),
            "opacity": 0
        })
    })
</script>