<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <title>亚租所</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="亚租所" />
    <meta name="description" content="亚租所" />
    <link rel="stylesheet" href="/css/about.css"> {% include "common/css.njk" %} {% include "common/js.njk" %}
</head>

<body>
    {% include "common/header.njk" %}
    <div class="container-fluid main-bg about-bg" style="height: 625px;background-image: url(/images/dynamic.png)">
        <div class="main-bar" style="height: 174px;background: #3e505e"></div>
    </div>
    <div class="container about-container">
        <div class="info-list-head row">
            {% set menuData = { "title":'关于我们',navlist:[{title:'本所简介',path:'/about'},{title:'公司动态',path:'/about/dynamic'}]
            } %} {% include "common/menu.njk" %}
            <div class="info-list-h col-lg-12">
                <h3>动态列表</h3>
            </div>

        </div>
        <ul class=" row" style="padding:0 15px">
            {%for item in data.dynamic.data%}
            <li class="col-lg-12 dynamic-item {% if item.flag==0 %} read{% endif%}">
                <a href="/about/1/{{item.pid}}">
                    <div class="item-content row">
                        <h3 class="col-lg-8 col-lg-offset-1 item-t">{{item.notice_title}}</h3>
                        <p class="col-lg-3 text-right item-d">日期：{{item.startDate}}</p>
                        <p class="item-txt col-lg-12 lead">{{item.notice_detail}}</p>
                    </div>
                </a>
            </li>
            {%endfor%}
        </ul>
        <!-- 分页 S-->
        <div id="Pagination" class="pagination">
        </div>
        <div style="height: 83px; width: 100%"></div>
        <!-- 风险揭示 -->
        {% include 'common/riskWarning.njk'%}
    </div>


    <!-- footer -->
    {% include 'common/footer.njk'%}
</body>
<script>
    var dynamic = {
        init: function () {
            this.pageInit({{data.dynamic.count}})
        },
        getHref: function () {
            var url = location.search;
            if (url.indexOf('page') != -1) {
                return url.replace(/\page=\d+/, 'page=__id__')
            } else {
                if (url.indexOf('?') != -1) {
                    return url += '&page=__id__';
                } else {
                    return url += '?page=__id__';
                }
            }
        },
        pageInit: function (data) {
            var self = this,
                href = this.getHref();
            $("#Pagination").pagination(data, {
                prev_text: "前一页",
                next_text: "后一页",
                num_edge_entries: 1,
                current_page: '{{query.page}}' == '' ? 0 : '{{query.page}}' - 1,
                num_display_entries: 4,
                link_to: href,
                scrollTop:false,
                items_per_page: 10,
                callback:function(page_index, jq){
                    
                }
            });
        },
    }
    $(function () {
        dynamic.init();
    })
</script>

</html>