<div class="info-list-head row">
    {% set menuData = { "title":'关于我们',navlist:[{title:'本所简介',path:'/about'},{title:'公司动态',path:'/about/dynamic'},{title:'管理团队',path:'/about/team'}]
    } %} {% include "common/menu.njk" %}

</div>