<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <title>亚租所</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="亚租所" />
    <meta name="description" content="亚租所" />
    <link rel="stylesheet" href="/css/about.css"> {% include "common/css.njk" %} {% include "common/js.njk" %}
</head>

<body>
    {% include "common/header.njk" %}
    <div class="container-fluid main-bg about-bg" style="height: 625px;background-image: url(/images/dynamic.png)">
        <div class="main-bar" style="height: 174px;background: #3e505e"></div>
    </div>
    <div class="container about-container">
        {%include "about/referral.njk"%}

        <div style="height: 83px; width: 100%"></div>
        <!-- 风险揭示 -->
        {% include 'common/riskWarning.njk'%}
    </div>


    <!-- footer -->
    {% include 'common/footer.njk'%}
</body>

</html>