<h2 class="porject-name">直融业务专区</h2>
<p class="porject-dec">与各类融资项目相关的产品创新、研究开发、组合设计，以及业务咨询服务、信息咨询服务、管理咨询服务、财务顾问服务和培训服务。</p>
<!-- <ul class="porject-note">
    <li>提供世界各地种类繁多的资产和市场供您选择</li>
    <li>配合客户的不同需要，备有多种挂钩股票、货币、投资期限可供选择</li>
    <li>因应您的风险取向，提供不同的保本程度</li>
</ul> -->
{% include "projects/contact.njk" %}