<h2 class="porject-name">挂牌交易专区</h2>
<p class="porject-dec">分散投资组合，让您实现财务目标。结构投资产品包含不同风险水平，助您在整段投资期内运用您的投资见解创造财富，迎合您的需要。</p>
<ul class="porject-note">
    <li>提供世界各地种类繁多的资产和市场供您选择</li>
    <li>配合客户的不同需要，备有多种挂钩股票、货币、投资期限可供选择</li>
    <li>因应您的风险取向，提供不同的保本程度</li>
</ul>
{% include "projects/contact.njk" %}