<h2 class="porject-name">挂牌交易专区</h2>
<p class="porject-dec">挂摘牌业务指以亚租所作为资产流转平台，为资产卖出方提供挂牌服务，并为资产买入方提供摘牌服务，交易通过亚租所资产流转平台完成，交易模式包括议价模式和竞价模式。。</p>
<!-- <ul class="porject-note">
    <li>提供世界各地种类繁多的资产和市场供您选择</li>
    <li>配合客户的不同需要，备有多种挂钩股票、货币、投资期限可供选择</li>
    <li>因应您的风险取向，提供不同的保本程度</li>
</ul> -->
{% include "projects/contact.njk" %}