<table id="tb_project">
    <thead>
        <tr>
            <th class="text-left">项目编号</th>
            <th class="text-left">挂牌规模</th>
            <th class="text-left">项目期限</th>
            <th class="text-left">预期年化收益率</th>
            <th class="text-left">状态</th>
        </tr>
    </thead>

    <tbody>
        {% for item in data.projects.data %}
        <tr data-link={{ '/projects/'+type+ '/detail/'+item.pid}}>
            <td>{{item.borrow_no}}</td>
            <td>{{item.borrow_balance}}</td>
            <td>{{item.borrow_term}}</td>
            <td>{{item.year_interest_rate}}</td>
            <td>{{projectState(item.status)}}
            </td>
        </tr>
        {% else %}
        <tr class="no-item text-center">
            <td colspan="5">暂无数据</td>
        </tr>
        {%endfor%}
    </tbody>
</table>
<!-- 分页 S-->
<div id="Pagination" class="pagination">
</div>