<table id="tb_project">
    <thead>
        <tr>
            <th class="text-left borrow_no">项目编号</th>
            <th class="text-left borrow_name">项目名称</th>
            <th class="text-left asset_register">挂牌方</th>
            <th class="text-left borrow_balance">挂牌价格</th>
            <th class="text-left release_date">挂牌日期</th>
            <th class="text-left status">状态</th>
        </tr>
    </thead>

    <tbody>
        {% for item in data.projects.data %}
        <tr data-link={{'/projects/'+type+ '/detail/'+item.pid}}>
            <td class="borrow_no c9">{{item.borrow_no}}</td>
            <td class="borrow_name c6">{{subStr(item.borrow_name,18)}}</td>
            <td class="asset_register c6">{{subStr(item.asset_register,14)}}</td>
            <td class="borrow_balance c6">{{item.borrow_balance}}</td>
            <td class="release_date c6">{{item.release_date}}</td>
            <td class="status c6">{{projectState(item.status)}}
            </td>
        </tr>
        {% else %}
        <tr class="no-item text-center">
            <td colspan="5">暂无数据</td>
        </tr>
        {%endfor%}
    </tbody>
</table>
