<p style="text-align: center;">
    <a style="text-align: center;">
        <strong>
            <span style="font-family: 华文楷体;">入会须知</span>
        </strong>
    </a>
</p>
<p>
    <span style="font-size:16px;font-family:楷体_GB2312">一、会员制</span>
</p>
<p style="text-indent:32px">
    <span style="font-size:16px;font-family:楷体_GB2312">深圳亚太租赁资产交易中心有限公司（以下简称“亚租所”）实行会员制。在亚租所进行交易活动的各方须为亚租所会员。非会员交易可申请临时会员资格或委托亚租所会员代理进行交易。</span>
</p>
<p style="text-indent:32px">
    <span style="font-size:16px;font-family:楷体_GB2312">会员从事产品交易须取得相应产品交易权限。</span>
</p>
<p style="text-indent:32px">
    <span style="font-size:16px;font-family:楷体_GB2312">会员应遵循诚实信用原则，且应具有风险识别和承受能力。</span>
</p>
<p>
    <span style="font-size:16px;font-family:楷体_GB2312">二、会员类型</span>
</p>
<p style="text-indent:32px">
    <span style="font-size:16px;font-family:楷体_GB2312">会员分为机构会员、个人会员、临时会员和特约会员。</span>
</p>
<p style="text-indent:32px">
    <span style="font-size:16px;font-family:楷体_GB2312">1</span>
    <span style="font-size:16px;font-family:楷体_GB2312">、机构会员，指取得亚租所会员资格的法人和依法成立的其他组织。机构会员按业务类别分为综合类会员、交易类会员、经纪类会员和服务类会员。</span>
</p>
<p style="margin-left:0;text-indent:47px">
    <span style="font-size:16px;font-family:Wingdings">²
        <span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp; </span>
    </span>
    <span style="font-size:16px;font-family:楷体_GB2312">综合类会员，可从事交易业务、经纪业务以及服务业务的会员。</span>
</p>
<p style="margin-left:0;text-indent:48px">
    <span style="font-size:16px;font-family:Wingdings">²
        <span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp; </span>
    </span>
    <span style="font-size:16px;font-family:楷体_GB2312">交易类会员，可从事交易业务的会员。</span>
</p>
<p style="margin-left:0;text-indent:48px">
    <span style="font-size:16px;font-family:Wingdings">²
        <span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp; </span>
    </span>
    <span style="font-size:16px;font-family:楷体_GB2312">经纪类会员，可从事受托经纪业务的会员。</span>
</p>
<p style="margin-left:0;text-indent:48px">
    <span style="font-size:16px;font-family:Wingdings">²
        <span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp; </span>
    </span>
    <span style="font-size:16px;font-family:楷体_GB2312">服务类会员，为金融资产交易提供评估、审计
        <a></a>、法律服务、财务顾问、管理咨询等中介服务的会员。</span>
</p>
<p style="margin-left:0;text-indent:25px">
    <span style="font-size:16px;font-family:楷体_GB2312">2、
        <span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp; </span>
    </span>
    <span style="font-size:16px;font-family:楷体_GB2312">个人会员，指取得亚租所会员资格的自然人，个人会员只能从事交易业务。</span>
</p>
<p style="margin-left:0;text-indent:25px">
    <span style="font-size:16px;font-family:楷体_GB2312">3、
        <span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp; </span>
    </span>
    <span style="font-size:16px;font-family:楷体_GB2312">临时会员，指就单笔交易向亚租所提交申请，经审核批准而获得会员资格的机构或个人。临时会员只能从事交易业务。</span>
</p>
<p style="margin-left:0;text-indent:25px">
    <span style="font-size:16px;font-family:楷体_GB2312">4、
        <span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp; </span>
    </span>
    <span style="font-size:16px;font-family:楷体_GB2312">特约会员，指与亚租所建立合作关系的有关机构和个人。</span>
</p>
<p>
    <span style="font-size:16px;font-family:楷体_GB2312">三、会员入会</span>
</p>
<p style="text-indent:36px">
    <span style="font-size:16px;font-family:楷体_GB2312">会员申请入会须具备一定的条件，提交相关材料（材料模板详见亚租所网站-资料下载栏“机构会员入会资料”），经亚租所审核批准后即取得会员资格。</span>
</p>
<p>
    <span style="font-size:16px;font-family:楷体_GB2312">四、会员的权利与义务</span>
</p>
<p style="text-indent:32px">
    <span style="font-size:16px;font-family:楷体_GB2312">会员入会后可根据会员类别和交易权限查阅或获取项目的信息资料和在亚租所参与相关交易活动。会员须遵守国家法律法规及亚租所交易规则和相关规章制度。会员的具体权利义务及日常管理请参阅《亚租所会员管理办法（试行）》。</span>
</p>
<p>
    <span style="font-size:16px;font-family:楷体_GB2312">五、会员服务</span>
</p>
<p style="text-indent:32px">
    <span style="font-size:16px;font-family:楷体_GB2312">成为亚租所会员后可享受的会员服务包括但不限于亚租所组织的会员培训、业务交流活动、金融资讯服务及金融资产交易服务等。</span>
</p>
<p>
    <span style="font-size:16px;font-family:楷体_GB2312">六、风险提示</span>
</p>
<p style="text-indent:32px">
    <span style="font-size:16px;font-family:楷体_GB2312">进行资产交易活动具有一定的风险，亚租所特向投资者提示以下风险：</span>
</p>
<p class="MsoListParagraph" style="margin-left:0;text-indent:25px">
    <span style="font-size:16px;font-family:楷体_GB2312">1、
        <span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp; </span>
    </span>
    <span style="font-size:16px;font-family:楷体_GB2312">宏观经济风险：因宏观经济形势变化，可能引起价格的异常波动，投资者可能遭受损失；</span>
</p>
<p class="MsoListParagraph" style="margin-left:0;text-indent:25px">
    <span style="font-size:16px;font-family:楷体_GB2312">2、
        <span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp; </span>
    </span>
    <span style="font-size:16px;font-family:楷体_GB2312">政策风险：有关法律、法规及相关政策、规则发生变化，可能引起价格异常波动，投资者可能遭受损失；</span>
</p>
<p class="MsoListParagraph" style="margin-left:0;text-indent:25px">
    <span style="font-size:16px;font-family:楷体_GB2312">3、
        <span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp; </span>
    </span>
    <span style="font-size:16px;font-family:楷体_GB2312">违约风险：因发行人无力或无意愿按时足额履约，投资者可能遭受损失；</span>
</p>
<p class="MsoListParagraph" style="margin-left:0;text-indent:25px">
    <span style="font-size:16px;font-family:楷体_GB2312">4、
        <span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp; </span>
    </span>
    <span style="font-size:16px;font-family:楷体_GB2312">利率风险：市场利率变化可能对购买或持有产品的实际收益产生影响；</span>
</p>
<p class="MsoListParagraph" style="margin-left:0;text-indent:25px">
    <span style="font-size:16px;font-family:楷体_GB2312">5、
        <span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp; </span>
    </span>
    <span style="font-size:16px;font-family:楷体_GB2312">不可抗力因素导致的风险；</span>
</p>
<p class="MsoListParagraph" style="margin-left:0;text-indent:25px">
    <span style="font-size:16px;font-family:楷体_GB2312">6、
        <span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp; </span>
    </span>
    <span style="font-size:16px;font-family:楷体_GB2312">由于投资密码失密、操作不当、投资者决策失误等原因可能会使投资者发生亏损；</span>
</p>
<p class="MsoListParagraph" style="margin-left:0;text-indent:25px">
    <span style="font-size:16px;font-family:楷体_GB2312">7、
        <span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp; </span>
    </span>
    <span style="font-size:16px;font-family:楷体_GB2312">委托他人代理交易，他人恶意操作而造成的损失；</span>
</p>
<p class="MsoListParagraph" style="margin-left:0;text-indent:25px">
    <span style="font-size:16px;font-family:楷体_GB2312">8、
        <span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp; </span>
    </span>
    <span style="font-size:16px;font-family:楷体_GB2312">因内控制度缺失或执行不力，机构投资者交易员违反管理规定而违规操作，可能使机构遭受损失。</span>
</p>
<p style="text-indent:25px">
    <span style="font-size:16px;font-family:楷体_GB2312">以上并不能提示从事交易的全部风险及市场的全部情形。在投资者进行交易中他人给予投资者的保证获利或不会发生亏损的任何承诺都是没有根据的，类似的承诺不会减少投资者发生亏损的可能。投资者在做出投资决策前，应谨慎决策。</span>
</p>
<p>
    <span style="font-size:16px;font-family:楷体_GB2312">七、免责条款</span>
</p>
<p style="text-indent:32px">
    <span style="font-size:16px;font-family:楷体_GB2312">1</span>
    <span style="font-size: 16px;font-family:楷体_GB2312">、由于国家有关法律、法规、规章、政策或者紧急措施的出台而导致投资者承担的风险，亚租所不承担责任。</span>
</p>
<p style="text-indent:32px">
    <span style="font-size:16px;font-family:楷体_GB2312">2</span>
    <span style="font-size: 16px;font-family:楷体_GB2312">、由于地震、火灾、战争等不可抗力导致的交易中断、延误或系统崩溃等风险，亚租所不承担责任，但应在条件允许下，采取一切必要的补救措施以减少因不可抗力造成的损失。</span>
</p>
<p style="text-indent:32px">
    <span style="font-size:16px;font-family:楷体_GB2312">3</span>
    <span style="font-size: 16px;font-family:楷体_GB2312">、因投资者错误操作交易客户端而产生的损失，亚租所不承担责任。</span>
</p>
<p style="text-indent:32px">
    <span style="font-size:16px;font-family:楷体_GB2312">4</span>
    <span style="font-size: 16px;font-family:楷体_GB2312">、因亚租所交易系统升级、测试或清算等业务需要，交易时间可能延迟或暂停服务，投资者不能交易而产生的损失，亚租所不承担责任。</span>
</p>
<p style="text-indent:32px">
    <span style="font-size:16px;font-family:楷体_GB2312">以上条款解释权归亚租所。</span>
</p>
<p>
    <span style="font-size:16px;font-family:楷体_GB2312">八、入会申请材料明细</span>
</p>
<p style="text-indent:37px">
    <span style="font-size:16px;font-family:楷体_GB2312">1</span>
    <span style="font-size: 16px;font-family:楷体_GB2312">、《亚租所入会申请书》原件；</span>
</p>
<p style="text-indent:37px">
    <span style="font-size:16px;font-family:楷体_GB2312">2</span>
    <span style="font-size: 16px;font-family:楷体_GB2312">、《企业法人营业执照》副本或其他合法主体资格证明复印件；</span>
</p>
<p style="text-indent:37px">
    <span style="font-size:16px;font-family:楷体_GB2312">3</span>
    <span style="font-size: 16px;font-family:楷体_GB2312">、《组织机构代码证》副本复印件；</span>
</p>
<p style="text-indent:37px">
    <span style="font-size:16px;font-family:楷体_GB2312">4</span>
    <span style="font-size: 16px;font-family:楷体_GB2312">、企业章程；</span>
</p>
<p style="text-indent:37px">
    <span style="font-size:16px;font-family:楷体_GB2312">5</span>
    <span style="font-size: 16px;font-family:楷体_GB2312">、法定代表人身份证复印件(非法人机构提供负责人身份证复印件)；</span>
</p>
<p style="text-indent:37px">
    <span style="font-size:16px;font-family:楷体_GB2312">6</span>
    <span style="font-size: 16px;font-family:楷体_GB2312">、授权委托书原件及经办人身份证复印件；</span>
</p>
<p style="text-indent:37px">
    <span style="font-size:16px;font-family:楷体_GB2312">7</span>
    <span style="font-size: 16px;font-family:楷体_GB2312">、亚租所规定的其他相关材料。</span>
</p>
<p style="text-indent:37px">
    <span style="font-size:16px;font-family:楷体_GB2312">申请成为综合类、交易类、经纪类、服务类会员的机构还需提供以下证明文件和材料：</span>
</p>
<p class="MsoListParagraph" style="margin-left:56px">
    <span style="font-size:16px;font-family:楷体_GB2312">8、</span>
    <span style="font-size:16px;font-family: 楷体_GB2312">相关行业资质或业务许可证书（如有，如ICP经营许可等）；</span>
</p>
<p class="MsoListParagraph" style="margin-left:56px">
    <span style="font-size:16px;font-family:楷体_GB2312">9、</span>
    <span style="font-size:16px;font-family: 楷体_GB2312">最近两个完整会计年度的审计报告（如有）及最近一期的财务报表；</span>
</p>
<p class="MsoListParagraph" style="margin-left:56px">
    <span style="font-size:16px;font-family:楷体_GB2312">10、
        <span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp; </span>
    </span>
    <span style="font-size:16px;font-family:楷体_GB2312">亚租所规定的其他相关材料。</span>
</p>
<p style="text-indent:48px">
    <strong>
        <span style="font-size:16px;font-family: 楷体_GB2312">以上未注明原件的，均可提供复印件，以上所有材料均需加盖单位公章。</span>
    </strong>
</p>
<p>
    <span style="font-size:16px;font-family:楷体_GB2312">&nbsp;</span>
</p>
<p style="text-align:center">
    <a></a>
    <a></a>
    <a>
        <strong>
            <span style="font-size:16px;font-family: 华文楷体">填写说明</span>
        </strong>
    </a>
</p>
<p class="MsoListParagraph" style="margin-left:61px">
    <span style="font-size:16px;font-family:楷体_GB2312">1、</span>
    <span style="font-size:16px;font-family: 楷体_GB2312">此入会申请书由申请单位填写，编号由亚租所统一编制、填写。</span>
</p>
<p class="MsoListParagraph" style="margin-left:61px">
    <span style="font-size:16px;font-family:楷体_GB2312">2、</span>
    <span style="font-size:16px;font-family: 楷体_GB2312">填写内容必须真实、完整。</span>
</p>
<p class="MsoListParagraph" style="margin-left:61px">
    <span style="font-size:16px;font-family:楷体_GB2312">3、</span>
    <span style="font-size:16px;font-family: 楷体_GB2312">不得在表上任意涂改，改动处须加盖公章。</span>
</p>
<p class="MsoListParagraph" style="margin-left:61px">
    <span style="font-size:16px;font-family:楷体_GB2312">4、</span>
    <span style="font-size:16px;font-family: 楷体_GB2312">请在入会承诺书</span>
    <span style="font-size:16px;font-family:宋体">“</span>
    <span style="font-size:16px;font-family: 楷体_GB2312">申请单位</span>
    <span style="font-size:16px;font-family:宋体">”</span>
    <span style="font-size:16px;font-family: 楷体_GB2312">处和最后一页授权委托书</span>
    <span style="font-size:16px;font-family: 宋体">“</span>
    <span style="font-size: 16px;font-family:楷体_GB2312">委托人（申请单位）</span>
    <span style="font-size: 16px;font-family:宋体">”</span>
    <span style="font-size:16px;font-family:楷体_GB2312">处填写单位名称并加盖公章。</span>
</p>
<p class="MsoListParagraph" style="margin-left:61px">
    <span style="font-size:16px;font-family:楷体_GB2312">5、</span>
    <span style="font-size:16px;font-family: 楷体_GB2312">填写完成后，请附上相关文件资料一起提交至亚租所。</span>
</p>
<p style="text-indent:37px">
    <span style="font-size:16px;font-family:楷体_GB2312">&nbsp;</span>
</p>
<p style="text-align:center">
    <a></a>
    <a></a>
    <a>
        <strong>
            <span style="font-size:16px;font-family: 华文楷体">申请单位基本情况表</span>
        </strong>
    </a>
</p>
<table width="560">
    <tbody>
        <tr style=";height:11px" class="firstRow">
            <td width="141" style="border: 1px solid windowtext; padding: 0px 7px;">
                <p style="text-align:center">
                    <span style="font-size:12px;font-family:   华文楷体">单位名称</span>
                </p>
            </td>
            <td width="100" colspan="2" style="border-top: 1px solid windowtext; border-right: 1px solid windowtext; border-bottom: 1px solid windowtext; border-image: initial; border-left: none; padding: 0px 7px;"></td>
            <td width="94" style="border-top: 1px solid windowtext; border-right: 1px solid windowtext; border-bottom: 1px solid windowtext; border-image: initial; border-left: none; padding: 0px 7px;">
                <p>
                    <span style="font-size:12px;font-family:华文楷体">营业执照号码</span>
                </p>
            </td>
            <td width="173" colspan="2" style="border-top: 1px solid windowtext; border-right: 1px solid windowtext; border-bottom: 1px solid windowtext; border-image: initial; border-left: none; padding: 0px 7px;"></td>
        </tr>
        <tr style=";height:11px">
            <td width="141" style="border-right: 1px solid windowtext; border-bottom: 1px solid windowtext; border-left: 1px solid windowtext; border-image: initial; border-top: none; padding: 0px 7px;">
                <p style="text-align:center">
                    <span style="font-size:12px;font-family:   华文楷体">注册地址</span>
                </p>
            </td>
            <td width="419" colspan="5" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;"></td>
        </tr>
        <tr style=";height:11px">
            <td width="141" style="border-right: 1px solid windowtext; border-bottom: 1px solid windowtext; border-left: 1px solid windowtext; border-image: initial; border-top: none; padding: 0px 7px;">
                <p style="text-align:center">
                    <span style="font-size:12px;font-family:   华文楷体">注册资本</span>
                </p>
                <p style="text-align:center">
                    <span style="font-size:12px;font-family:   华文楷体">（阿拉伯数字填写）</span>
                </p>
            </td>
            <td width="100" colspan="2" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;"></td>
            <td width="94" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p style="text-align:center">
                    <span style="font-size:12px;font-family:   华文楷体">经营范围</span>
                </p>
            </td>
            <td width="173" colspan="2" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;"></td>
        </tr>
        <tr style=";page-break-inside:avoid;height:11px">
            <td width="141" style="border-right: 1px solid windowtext; border-bottom: 1px solid windowtext; border-left: 1px solid windowtext; border-image: initial; border-top: none; padding: 0px 7px;">
                <p style="text-align:center">
                    <span style="font-size:12px;font-family:   华文楷体">法定代表人/负责人</span>
                </p>
            </td>
            <td width="104" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;"></td>
            <td width="47" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p style="text-align:center">
                    <span style="font-size:12px;font-family:   华文楷体">职务</span>
                </p>
            </td>
            <td width="94" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;"></td>
            <td width="66" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p style="text-align:center">
                    <span style="font-size:12px;font-family:   华文楷体">联系电话</span>
                </p>
            </td>
            <td width="107" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;"></td>
        </tr>
        <tr style=";page-break-inside:avoid;height:11px">
            <td width="141" style="border-right: 1px solid windowtext; border-bottom: 1px solid windowtext; border-left: 1px solid windowtext; border-image: initial; border-top: none; padding: 0px 7px;">
                <p style="text-align:center">
                    <span style="font-size:12px;font-family:   华文楷体">业务联系人</span>
                </p>
            </td>
            <td width="104" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;"></td>
            <td width="47" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p style="text-align:center">
                    <span style="font-size:12px;font-family:   华文楷体">职务</span>
                </p>
            </td>
            <td width="94" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;"></td>
            <td width="66" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p style="text-align:center">
                    <span style="font-size:12px;font-family:   华文楷体">联系电话</span>
                </p>
            </td>
            <td width="107" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;"></td>
        </tr>
        <tr style=";page-break-inside:avoid;height:11px">
            <td width="141" style="border-right: 1px solid windowtext; border-bottom: 1px solid windowtext; border-left: 1px solid windowtext; border-image: initial; border-top: none; padding: 0px 7px;">
                <p style="text-align:center">
                    <span style="font-size:12px;font-family:   华文楷体">传真</span>
                </p>
            </td>
            <td width="100" colspan="2" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;"></td>
            <td width="94" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p style="text-align:center">
                    <span style="font-size:12px;font-family:华文楷体">E-mail</span>
                </p>
            </td>
            <td width="173" colspan="2" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;"></td>
        </tr>
        <tr style=";page-break-inside:avoid;height:11px">
            <td width="141" style="border-right: 1px solid windowtext; border-bottom: 1px solid windowtext; border-left: 1px solid windowtext; border-image: initial; border-top: none; padding: 0px 7px;">
                <p style="text-align:center">
                    <span style="font-size:12px;font-family:   华文楷体">联系地址</span>
                </p>
            </td>
            <td width="100" colspan="2" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;"></td>
            <td width="94" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p style="text-align:center">
                    <span style="font-size:12px;font-family:   华文楷体">邮政编码</span>
                </p>
            </td>
            <td width="173" colspan="2" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;"></td>
        </tr>
    </tbody>
</table>
<p style="text-align:center">
    <a></a>
    <a></a>
    <a>
        <strong>
            <span style="font-size:16px;font-family:宋体">&nbsp;</span>
        </strong>
    </a>
</p>
<p style="text-align:center">
    <strong>
        <span style="font-size:16px;font-family:华文楷体">入会</span>
    </strong>
    <strong>
        <span style="font-size:16px;font-family:华文楷体">承诺书</span>
    </strong>
</p>
<p>
    <span style="font-size:16px;font-family:华文楷体">亚租所：</span>
</p>
<p style="text-indent:32px;text-autospace:none">
    <span style="font-size:16px;font-family:楷体_GB2312">我方自愿申请加入贵所，成为亚租所：</span>
</p>
<p style="text-indent:32px;text-autospace:none">
    <span style="font-size:16px;font-family:楷体_GB2312">□机构会员（□综合类&nbsp;&nbsp;&nbsp; □交易类&nbsp;&nbsp;&nbsp; □经纪类&nbsp;&nbsp;&nbsp; □服务类）</span>
</p>
<p style="text-indent:32px;text-autospace:none">
    <span style="font-size:16px;font-family:楷体_GB2312">□临时会员</span>
</p>
<p style="text-indent:32px">
    <span style="font-size:16px;font-family:楷体_GB2312">我方遵循公平、公正、诚信的原则，作如下承诺：</span>
</p>
<p class="MsoListParagraph" style="margin-left:0;text-indent:25px">
    <span style="font-size:16px;font-family:楷体_GB2312">1、
        <span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp; </span>
    </span>
    <span style="font-size:16px;font-family:楷体_GB2312">我方已知悉国家和监管部门对于金融资产交易等相关业务的政策法规，并已认真阅读《亚租所会员管理办法（试行）》及会员管理相关规定，将遵守会员制度，履行会员义务，依照有关规则要求开展各项业务，配合支持亚租所相关工作；</span>
</p>
<p class="MsoListParagraph" style="margin-left:0;text-indent:25px">
    <span style="font-size:16px;font-family:楷体_GB2312">2、
        <span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp; </span>
    </span>
    <span style="font-size:16px;font-family:楷体_GB2312">我方已认真阅读并充分理解交易风险提示，自愿参与并承担投资所带来的风险和损失，并接受上述亚租所的免责条款。</span>
</p>
<p class="MsoListParagraph" style="margin-left:0;text-indent:25px">
    <span style="font-size:16px;font-family:楷体_GB2312">3、
        <span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp; </span>
    </span>
    <span style="font-size:16px;font-family:楷体_GB2312">我方申请入会提交的所有材料真实、完整、合法、有效，不存在任何虚假记载、误导性陈述和重大遗漏；</span>
</p>
<p class="MsoListParagraph" style="margin-left:0;text-indent:25px">
    <span style="font-size:16px;font-family:楷体_GB2312">4、
        <span style="font:9px &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp;&nbsp; </span>
    </span>
    <span style="font-size:16px;font-family:楷体_GB2312">如违反以上承诺或有违规行为，给贵所或相关方造成损失的，我方愿意承担法律责任及经济赔偿责任。</span>
</p>
<p style="text-indent:32px">
    <span style="font-size:16px;font-family:楷体_GB2312">自我方成为会员后,下属分支机构均视同为贵所会员，均可参与贵所组织的交易活动（下属分支机构名单见附件）。</span>
</p>
<p style="text-indent:32px">
    <span style="font-size:16px;font-family:楷体_GB2312">特此申请，请审核批准。</span>
</p>
<p style="text-indent:32px">
    <span style="font-size:16px;font-family:楷体_GB2312">&nbsp;</span>
</p>
<p style="text-indent:364px">
    <span style=";font-family:华文楷体">申请单位（盖章）：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
</p>
<p style="margin-right:35px;text-align:right">
    <span style=";font-family:华文楷体">年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 月&nbsp;&nbsp;&nbsp;&nbsp; 日</span>
</p>
<p style="text-align:right">
    <span style=";font-family:华文楷体">&nbsp;</span>
</p>
<strong>
    <span style="font-size:16px;font-family:华文楷体">
        <br/> </span>
</strong>
<p style="text-align:left">
    <a>
        <strong>
            <span style="font-size:16px;font-family:华文楷体">&nbsp;</span>
        </strong>
    </a>
</p>
<p style="text-align:center">
    <strong>
        <span style="font-size:16px;font-family:华文楷体">&nbsp;</span>
    </strong>
</p>
<p style="text-align:center">
    <strong>
        <span style="font-size:16px;font-family:华文楷体">授权委托书</span>
    </strong>
</p>
<table>
    <tbody>
        <tr style=";height:11px" class="firstRow">
            <td width="141" valign="top" style="border: 1px solid windowtext; padding: 0px 7px;">
                <p style="text-align:center">
                    <span style=";font-family:华文楷体">委托人（单位）</span>
                </p>
                <p style="text-align:center">
                    <span style=";font-family:华文楷体">（请填写单位名称）</span>
                </p>
            </td>
            <td width="215" valign="top" style="border-top: 1px solid windowtext; border-right: 1px solid windowtext; border-bottom: 1px solid windowtext; border-image: initial; border-left: none; padding: 0px 7px;"></td>
            <td width="69" valign="top" style="border-top: 1px solid windowtext; border-right: 1px solid windowtext; border-bottom: 1px solid windowtext; border-image: initial; border-left: none; padding: 0px 7px;">
                <p style="text-align:center">
                    <span style=";font-family:华文楷体">受托人</span>
                </p>
            </td>
            <td width="128" valign="top" style="border-top: 1px solid windowtext; border-right: 1px solid windowtext; border-bottom: 1px solid windowtext; border-image: initial; border-left: none; padding: 0px 7px;"></td>
        </tr>
        <tr style=";height:11px">
            <td width="141" valign="top" style="border-right: 1px solid windowtext; border-bottom: 1px solid windowtext; border-left: 1px solid windowtext; border-image: initial; border-top: none; padding: 0px 7px;">
                <p style="text-align:center">
                    <span style=";font-family:华文楷体">身份证号码</span>
                </p>
            </td>
            <td width="215" valign="top" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;"></td>
            <td width="69" valign="top" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;">
                <p style="text-align:center">
                    <span style=";font-family:华文楷体">性别</span>
                </p>
            </td>
            <td width="128" valign="top" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;"></td>
        </tr>
    </tbody>
</table>
<p style="text-indent:32px">
    <span style="font-size:16px;font-family:华文楷体">兹委托上列受托人代理本人（单位）办理亚租所入会相关手续。</span>
</p>
<p style="text-indent:32px">
    <span style="font-size:16px;font-family:华文楷体">委托期限：自本授权委托书签发之日起至委托事宜办理完毕之日止。&nbsp;&nbsp;&nbsp;&nbsp; </span>
    <span style="font-size:19px;font-family:华文楷体">&nbsp;</span>
</p>
<p>
    <span style="font-size:19px;font-family:华文楷体">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
    <span style=";font-family:华文楷体">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
</p>
<p>
    <span style=";font-family:华文楷体">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
    <span style=";font-family:华文楷体">委托人（申请单位）（盖章）：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
</p>
<p style="margin-right:42px;text-align:right">
    <span style=";font-family:华文楷体">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
    <span style=";font-family:华文楷体">年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 月&nbsp;&nbsp;&nbsp;&nbsp; 日</span>
</p>
<p style="margin-right:42px;text-align:right">
    <span style=";font-family:华文楷体">&nbsp;</span>
</p>
<p style="margin-right:42px;text-align:right">
    <span style=";font-family:华文楷体">&nbsp;</span>
</p>
<p style="margin-right:42px;text-align:right">
    <span style=";font-family:华文楷体">&nbsp;</span>
</p>
<p style="text-align:center">
    <a>
        <strong>
            <span style="font-size:16px;font-family:华文楷体">附件 分支机构名单</span>
        </strong>
    </a>
</p>
<table width="567">
    <tbody>
        <tr style=";height:11px" class="firstRow">
            <td width="47" valign="top" style="border: 1px solid windowtext; padding: 0px 7px;">
                <p style="text-align:center;text-autospace:none">
                    <span style=";font-family:   华文楷体">序号</span>
                </p>
            </td>
            <td width="161" valign="top" style="border-top: 1px solid windowtext; border-right: 1px solid windowtext; border-bottom: 1px solid windowtext; border-image: initial; border-left: none; padding: 0px 7px;">
                <p style="text-align:center;text-autospace:none">
                    <span style=";font-family:   华文楷体">分支机构名单</span>
                </p>
            </td>
            <td width="50" valign="top" style="border-top: 1px solid windowtext; border-right: 1px solid windowtext; border-bottom: 1px solid windowtext; border-image: initial; border-left: none; padding: 0px 7px;">
                <p style="text-align:center;text-autospace:none">
                    <span style=";font-family:   华文楷体">负责人</span>
                </p>
            </td>
            <td width="50" valign="top" style="border-top: 1px solid windowtext; border-right: 1px solid windowtext; border-bottom: 1px solid windowtext; border-image: initial; border-left: none; padding: 0px 7px;">
                <p style="text-align:center;text-autospace:none">
                    <span style=";font-family:   华文楷体">联系方式</span>
                </p>
            </td>
            <td width="208" valign="top" style="border-top: 1px solid windowtext; border-right: 1px solid windowtext; border-bottom: 1px solid windowtext; border-image: initial; border-left: none; padding: 0px 7px;">
                <p style="text-align:center;text-autospace:none">
                    <span style=";font-family:   华文楷体">地址</span>
                </p>
            </td>
        </tr>
        <tr style=";height:11px">
            <td width="47" valign="top" style="border-right: 1px solid windowtext; border-bottom: 1px solid windowtext; border-left: 1px solid windowtext; border-image: initial; border-top: none; padding: 0px 7px;"></td>
            <td width="161" valign="top" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;"></td>
            <td width="50" valign="top" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;"></td>
            <td width="50" valign="top" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;"></td>
            <td width="208" valign="top" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;"></td>
        </tr>
        <tr style=";height:11px">
            <td width="47" valign="top" style="border-right: 1px solid windowtext; border-bottom: 1px solid windowtext; border-left: 1px solid windowtext; border-image: initial; border-top: none; padding: 0px 7px;"></td>
            <td width="161" valign="top" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;"></td>
            <td width="50" valign="top" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;"></td>
            <td width="50" valign="top" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;"></td>
            <td width="208" valign="top" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;"></td>
        </tr>
        <tr style=";height:11px">
            <td width="47" valign="top" style="border-right: 1px solid windowtext; border-bottom: 1px solid windowtext; border-left: 1px solid windowtext; border-image: initial; border-top: none; padding: 0px 7px;"></td>
            <td width="161" valign="top" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;"></td>
            <td width="50" valign="top" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;"></td>
            <td width="50" valign="top" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;"></td>
            <td width="208" valign="top" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;"></td>
        </tr>
        <tr style=";height:11px">
            <td width="47" valign="top" style="border-right: 1px solid windowtext; border-bottom: 1px solid windowtext; border-left: 1px solid windowtext; border-image: initial; border-top: none; padding: 0px 7px;"></td>
            <td width="161" valign="top" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;"></td>
            <td width="50" valign="top" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;"></td>
            <td width="50" valign="top" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;"></td>
            <td width="208" valign="top" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;"></td>
        </tr>
        <tr style=";height:11px">
            <td width="47" valign="top" style="border-right: 1px solid windowtext; border-bottom: 1px solid windowtext; border-left: 1px solid windowtext; border-image: initial; border-top: none; padding: 0px 7px;"></td>
            <td width="161" valign="top" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;"></td>
            <td width="50" valign="top" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;"></td>
            <td width="50" valign="top" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;"></td>
            <td width="208" valign="top" style="border-top: none; border-left: none; border-bottom: 1px solid windowtext; border-right: 1px solid windowtext; padding: 0px 7px;"></td>
        </tr>
    </tbody>
</table>
<p>
    <span style="font-family:华文楷体">&nbsp;</span>
</p>
<p>
    <span style=";font-family:华文楷体">申请单位（盖章）：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
</p>
<p>
    <span style=";font-family:华文楷体">申请日期：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 月&nbsp;&nbsp; 日</span>
</p>