<p>
    <strong>
        <span style="font-family:'微软雅黑','sans-serif';color:#2E2E2E">公司简介</span>
    </strong>
    <br/>
</p>
<p style="margin-bottom:10px;text-align:left">
    <span style="font-family:'微软雅黑','sans-serif';color:#2E2E2E">深圳亚太租赁资产交易中心有限公司( 简称“亚租所”) 是经深圳市人民政府批复, 由山东高速金融和粤财信托出资成立，在深圳前海注册的资产交易服务平台。</span>
</p>
<img src="/images/dynamic.png" alt="" style="width: 100%">
<p style="margin-bottom:10px;text-align:left">
    <span style="font-family:'微软雅黑','sans-serif';color:#2E2E2E">亚租所专业为各类金融机构、非金融机构及广大投资者提供“资产交易与综合服务”，</span>
    <span style="font-family:'微软雅黑','sans-serif';color:#333333">通过业务模式、产品服务、金融工具、投融资手段的持续创新，努力满足各类机构、投资者的不同需求，为各类资产交易及相关产品的登记、托管、交易、融资、结算等提供国际化、专业化的全程式服务。</span>
</p>
<p style="text-align:left;line-height:29px;background:white">
    <span style="font-size:14px;font-family:'微软雅黑','sans-serif';color:#333333">亚租所以“立足前海，服务全球”为宏伟志向，以“做受人尊敬的企业”为远大目标，以“依法经营、公允守信、优质服务”为前提，以“推动我国多层次市场服务体系的建立，推动特色化资产交易市场发展”为己任，以“服务国家、服务企业、服务人民”为使命，</span>
    <span style="font-size:14px;font-family:'微软雅黑','sans-serif';color:#2E2E2E;background:white;background:white">致力于成为具有国际影响力的一流的综合型资产交易所。</span>
</p>
<p style="text-align:left;line-height:32px;background:white">
    <strong>
        <span style="font-size:14px;font-family:'微软雅黑','sans-serif';color:#2E2E2E">业务介绍</span>
    </strong>
</p>
<p style="text-align:left;line-height:32px;background:white">
    <strong>
        <span style="font-size:14px;font-family:'微软雅黑','sans-serif';color:#333333">（1）资产交易服务</span>
    </strong>
</p>
<p style="text-align:left;line-height:32px;background:white">
    <span style="font-size:14px;font-family:'微软雅黑','sans-serif'">为金融类资产、非金融类资产，包括：实物资产、设备资产、租赁资产、不动产、权益资产、无形资产等非限制类资产交易的登记、托管、转让、结算、清算等提供服务</span>
</p>
<p style="text-align:left;line-height:48px;background:white">
    <strong>
        <span style="font-size:14px;font-family:'微软雅黑','sans-serif';color:#333333">（2）投融资金融服务</span>
    </strong>
</p>
<p style="text-align:left;line-height:32px;background:white">
    <span style="font-size:14px;font-family:'微软雅黑','sans-serif'">为各类机构提供
        <span style="color:#333333">投融资服务、互联网金融服务、供应链金融服务、并购、项目并购等各类资本运作服务。</span>
    </span>
</p>
<p style="text-align:left;line-height:48px;background:white">
    <strong>
        <span style="font-size:14px;font-family:'微软雅黑','sans-serif'">（3）研究咨询服务</span>
    </strong>
</p>
<p style="text-align:left;line-height:32px;background:white">
    <span style="font-size:14px;font-family:'微软雅黑','sans-serif'">与各类融资项目相关的
        <span style="color:#333333">产品创新、研究开发、组合设计，以及业务咨询服务、信息咨询服务、管理咨询服务、财务顾问服务和培训服务。</span>
    </span>
</p>
<p style="margin-bottom:10px;text-align:left">
    <strong>
        <span style="font-family:'微软雅黑','sans-serif';color:#2E2E2E">&nbsp;</span>
    </strong>
</p>
<p style="margin-bottom:10px;text-align:left">
    <strong>
        <span style="font-family:'微软雅黑','sans-serif';color:#2E2E2E">股东构成</span>
    </strong>
</p>
<p style="margin-bottom:10px;text-align:left">
    <strong>
        <span style="font-family:'微软雅黑','sans-serif';color:#2E2E2E">山东高速金融</span>
    </strong>
</p>
<p style="margin-bottom:10px;text-align:left">
    <span style="font-family:'微软雅黑','sans-serif';color:#2E2E2E">中国山东高速金融是“中国企业500强”山东高速集团旗下重要成员，致力打造成为全方位全牌照的综合性金融平台。
        <ins datetime="2018-05-23T18:48"></ins>
    </span>
</p>
<p style="margin-bottom:10px;text-align:left">
    <span style="font-family:'微软雅黑','sans-serif';color:#2E2E2E">山东高速集团是国有独资特大型企业集团，资产总额人民币近6000亿元，资产规模居全省企业和全国同行业第一位，资产和利润总额均占省管企业1/4，连续十年入选“中国企业500强”。</span>
</p>