<p>
    <span>在深圳亚太租赁资产交易中心（即</span>
    <a href="http://www.laecap.com/">
        <span>www.laecap.com</span>
    </a>
    <span>,</span>
    <span>为深圳亚太租赁资产交易中心有限公司所有并运营，以下简称“本所”）参与交易活动的法人、自然人或其他社会组织等须在本所注册，注册成功后统称‘参与方’，参与方按照注册性质分为会员和客户</span>
    <span>。</span>
</p>

<h3> <span>一、会员入会条件</span></h3>
<p>
    <span>法人机构、自然人、其他组织如欲申请成为本所会员，应具备下列条件：</span>
</p>
<p>
    <span>（一）法人机构和其他组织须依法设立并有效存续，自然人须具有完全民事行为能力；</span>
</p>
<p>
    <span>（二）具有金融专业素养、意向业务的相关业务资质(若该资质存在)；</span>
</p>
<p>
    <span>（三）具有一定的投资能力和风险承受能力；</span>
</p>
<p>
    <span>（四）具有良好的商业信誉，近三年无严重违法违规行为；</span>
</p>
<p>
    <span>（五）法人机构及其他组织具有固定的经营场所和必要的设施；</span>
</p>
<p>
    <span>（六）法人机构及其他组织具有完善的法人治理结构及健全的内部管理制度；</span>
</p>
<p>
    <span>（七）本所要求的其他条件。</span>
</p>

<h3> <span>二、会员入会所需文件资料</span></h3>
<p>
    <span>会员申请入会需提交以下资料：</span>
</p>
<p>
    <span>（一）《亚租所入会申请书》原件；</span>
</p>
<p>
    <span>（二）《企业法人营业执照》副本或其他合法主体资格证明复印件；</span>
</p>
<p>
    <span>（三）《组织机构代码证》副本复印件；</span>
</p>
<p>
    <span>（四）企业章程；</span>
</p>
<p>
    <span>（五）法定代表人身份证复印件(非法人机构提供负责人身份证复印件)；</span>
</p>
<p>
    <span>（六）授权委托书原件及经办人身份证复印件；</span>
</p>
<p>
    <span>（七）最近两个完整会计年度的审计报告（如有）及最近一期的财务报表；</span>
</p>
<p>
    <span>（八）亚租所规定的其他相关材料。</span>
</p>

<!-- <p>

    <span>（二）《企业法人营业执照》副本或其他合法主体资格证明复印件；</span>
</p>
<p>

    <span>（三）《组织机构代码证》副本复印件；</span>
</p>
<p>
   
    <span>（四）企业章程；</span>
</p>
<p>

    <span>（五）法定代表人身份证复印件(非法人机构提供负责人身份证复印件)；</span>
</p>
<p>

    <span>（六）授权委托书原件及经办人身份证复印件；</span>
</p>
<p>

    <span>（七）最近两个完整会计年度的审计报告（如有）及最近一期的财务报表；</span>
</p>
<p>

    <span>（八）亚租所规定的其他相关材料。</span>
</p> -->

<h3> <span>三、会员的权利</span></h3>
<p>
    <span>（一）按照参与方类别等条件，分别享有本所提供的会员或客户服务；</span>
</p>
<p>
    <span>（二）根据会员或客户类别及本所规则参与交易相关活动；</span>
</p>
<p>
    <span>（三）对本所工作提出意见和建议；</span>
</p>
<p>
    <span>（四）本所规定的其他会员或客户权利。</span>
</p>

<h3> <span>四、会员的义务</span></h3>
<p>
    <span>（一）参与方须遵守本所规则及交易、结算细则；</span>
</p>
<p>
    <span>（二）参与方应遵循诚信、审慎、善良交易等行为操守；</span>
</p>
<p>
    <span>（三）参与方应妥善保管自己的账户及其密码，若发生密码遗失、账户被盗用以至造成参与方财物损失，参与方将自行承担后果；</span>
</p>
<p>
    <span>（四）参与方应接受本所在交易业务方面的日常指导和监察；</span>
</p>
<p>
    <span>（五）会员和客户应遵守本所对于不同类别会员或客户分别制定的补充义务条款。</span>
</p>